<div class="col">
    Data<br/>
    da<input class="form-control me-2" type="date" placeholder="Search" aria-label="Search"
             onchange="fillSecondInput(this)">
    a<input class="form-control me-2" type="date" placeholder="Search" aria-label="Search">
    <i class="mdi mdi-dots-vertical btn" id="dataDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <div class="dropdown">
        <ul class="dropdown-menu" aria-labelledby="dataDropdown">
            <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
            <li><a class="dropdown-item" href="#">Nessun valore</a></li>
            <li><a class="dropdown-item" href="#">Diverso da</a></li>
            <li><a class="dropdown-item" href="#">Passato</a></li>
            <li><a class="dropdown-item" href="#">Futuro</a></li>
            <li><a class="dropdown-item" href="#">Questa settimana</a></li>
            <li><a class="dropdown-item" href="#">Questo mese</a></li>
        </ul>
    </div>
</div>