<div class="col">
    Numero<br/>
    da<input class="form-control me-2" type="number" placeholder="Search" aria-label="Search"
             oninput="fillSecondInput(this)">
    a<input class="form-control me-2" type="number" placeholder="Search" aria-label="Search">
    <i class="mdi mdi-dots-vertical btn" id="numeroDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <div class="dropdown">
        <ul class="dropdown-menu" aria-labelledby="numeroDropdown">
            <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
            <li><a class="dropdown-item" href="#">Nessun valore</a></li>
            <li><a class="dropdown-item" href="#">Diverso da</a></li>
        </ul>
    </div>
</div>