<div class="col">
    Parola<br/>
    <br>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="">
    <i class="mdi mdi-dots-vertical btn" id="parolaDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <div class="dropdown">
        <ul class="dropdown-menu" aria-labelledby="parolaDropdown">
            <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
            <li><a class="dropdown-item" href="#">Nessun valore</a></li>
            <li><a class="dropdown-item" href="#">Diverso da</a></li>
        </ul>
    </div>
</div>