<div class="col">

    {% if search_field.fieldtypeid == 'Parola' %}
        {{ search_field.fieldid }}<br/>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="parolaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-horizontal"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="parolaDropdown">
                <li><a class="dropdown-item" href="#">Example 1</a></li>
                <li><a class="dropdown-item" href="#">Example 2</a></li>
                <li><a class="dropdown-item" href="#">Example 3</a></li>
            </ul>
        </div>
    {% elif search_field.fieldtypeid == 'Numero' %}
        {{ search_field.fieldid }}<br/>
        da<input class="form-control me-2" type="number" placeholder="Search" aria-label="Search" oninput="fillSecondInput(this)">
        a<input class="form-control me-2" type="number" placeholder="Search" aria-label="Search">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="numeroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-horizontal"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="numeroDropdown">
                <li><a class="dropdown-item" href="#">Example 1</a></li>
                <li><a class="dropdown-item" href="#">Example 2</a></li>
                <li><a class="dropdown-item" href="#">Example 3</a></li>
            </ul>
        </div>
    {% elif search_field.fieldtypeid == 'Data' %}
        {{ search_field.fieldid }}<br/>
        da<input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" onchange="fillSecondInput(this)">
        a<input class="form-control me-2" type="date" placeholder="Search" aria-label="Search">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dataDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-horizontal"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                <li><a class="dropdown-item" href="#">Example 1</a></li>
                <li><a class="dropdown-item" href="#">Example 2</a></li>
                <li><a class="dropdown-item" href="#">Example 3</a></li>
            </ul>
        </div>
    {% endif %}

</div>

<script>
    function fillSecondInput(input) {
        var secondInput = input.nextElementSibling;
        secondInput.value = input.value;
    }
</script>
