<div id="order_settings">
    <div style="float: left">
        Utenti <br/>
        {% for user in users %}
        <button class="btn btn-secondary table-button" data-table-id="{{ table.id }}">{{ user.username }}</button>
        <br>
        {% endfor %}

    </div>
    <div style="margin-left: 20px;float: left">
        Tabelle<br/>
        {% for table in tables %}
            <button class="btn btn-secondary table-button" data-table-id="{{ table.id }}">{{ table.id }}</button>
            <br>
        {% endfor %}
    </div>

    <div style="margin-left: 20px; float: left;" id="settings-container">
        <button id="save-button" onclick="saveFieldsOrder()" class="btn btn-primary">Save</button>
    </div>

    <div id="response-container" style="float: left; margin-left: 20px;"></div>

    <input id="current-tableid" type="hidden">
</div>
