<div id="chart{{ id }}"></div>

<script>
  var options = {
    chart: {
      height: '400%',
      type: 'bar',
    },
    series: [
    {% for val in value %}
    {
      name: '{{ fields|join:'' }}',
      data: {{ val|safe }},
    },
    {% endfor %}

    ],
    xaxis: {
      categories: {{ labels|safe }},
      labels: {
        show: true,
        style: {
          fontSize: '12px',
        },
      },
      tooltip: {
        enabled: true,
        offsetY: 8,
      },
      responsive: [{
        breakpoint: 480,
        options: {
          labels: {
            rotate: -90,
          },
        },
      }],
    },
    dataLabels: {
      enabled: false
    },
    title: {
      text: '{{ name }}',
    },
    colors: ['#008ffbd9','#00e396d9','#ff4560d9'],
  };

  var chart = new ApexCharts(document.querySelector("#chart{{ id }}"), options);

  chart.render();
</script>
