<div id="chart"></div>

<script>
  var options = {
    chart: {
      height: 'auto',
      type: 'bar',
    },
    series: [{
      name: 'Mese corrente',
      data: {{ data.amounts|safe }}
    },
    {
      name: 'Mese precedente',
      data: {{ data2.amounts2|safe }}
    }],
    xaxis: {
      categories: {{ data2.deal_users2|safe }},
      labels: {
        show: true,
        style: {
          fontSize: '12px',
        },
      },
      tooltip: {
        enabled: true,
        offsetY: 8,
      },
      responsive: [{
        breakpoint: 480,
        options: {
          labels: {
            rotate: -90,
          },
        },
      }],
    },
        yaxis: {
    labels: {
      formatter: function(val) {
        return Math.round(val);
      }
    }
  }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);

  chart.render();
</script>
