<div style="height: 90%;">
    <div class="row" style="height: 100%;">
        <div class="col-12" style="height: 100%;">
            {{ticket_block}}
        </div>
    </div>
</div>

<script>
    //trigger this when the page is loaded
    $(document).ready(function () {

        var tableid = 'timesheet'
        $('#newRecordModal').modal('show');
        var serialized_data = [];
        serialized_data.push({name: 'tableid', value: tableid});
        serialized_data.push({name: 'contextfunction', value: 'insert'});
        serialized_data.push({name: 'http_response', value: true});
        $.ajax({
            type: "POST",
            url: "{% url 'get_record_fields' %}",
            data: serialized_data,
            success: function (response) {
                $("#fullwidth_modal_newrecord").html(response);

            },
            error: function () {
                $("#bixdata_recordcard_container").html(response);
            }
        });

    });
</script>