<br>
Nuovo push commerciale reportato da: {{ username }}
<br>
<br>
<b>{{ company }}</b>
<br>
<p>{{ description }}</p>
<br>
<a href="http://bixcrm01:8000/get_record_path/salespush/{{ recordid }}" class="description button" style="margin: 0">Apri in Bixdata</a>


<style>
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    background-color: #5590cc;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

</style>
