<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width: 100px"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 25px"></td>
            <td style="margin: 0; padding: 0; width: 200px">
                <b>{{ companyname }}</b>
                <p style="margin: 0;">Da: {{ username }}</p>
                <a href="http://bixcrm01:8000/get_record_path/task/{{ recordid }}" class="description" style="margin: 0;">{{ description|truncatechars:50 }}</a>
            </td>
            <td style="width: 100px">
                <img src="https://freepngimg.com/save/89647-angle-icons-clock-computer-design-test-speed/1356x1127" alt="Scadenza" width="20">
                {{ duedate }}
                <br>
                {% if planneddate != None %}
                    <img alt="Pianificato" src="https://cdn-icons-png.flaticon.com/512/1322/1322186.png" width="20">
                    {{ planneddate }}
                {% else %}
                    <img alt="Non Pianificato" src="https://cdn-icons-png.flaticon.com/512/4407/4407014.png" width="20">
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>



<style>
  table {
    border-collapse: collapse;
    width: 1000px;
  }

  th {
    text-align: left;
  }

  thead, th {
      background-color: #eeae6b;
      font-size: 15pt;
  }

  td {
      padding: 15px;
  }

  .description:hover {
    cursor: pointer;
  }
</style>