<style>

    .field-option, #save-button {
        display: none;
    }

    #status {
        all: unset;
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }

    .table-button {
        width: 100%;
        margin-top: 5%;
    }


    .drag-item {
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;

    }
    .drag-item.hidden {
        background-color: #f2f2f2;
    }
    .btn-toggle {
        padding: 5px 10px;
        font-size: 12px;
    }
    .btn-save {
        margin-top: 10px;
    }


</style>

<script>

    $(document).ready(function () {
        var drake;
        var tsi_id = [];

        $(".drag-item").each(function () {
            tsi_id.push(this);
        });

        drake = dragula(tsi_id);
        drake.on('drop', function (el, target) {
            updateOrder();
        });

        $(".table-button").click(function () {
            const tableId = $(this).data('table-id');
            $('#current-tableid').val(tableId);
            $('.field-option').show();
            $('#save-button').show()
            $('.field-option').data('table-id', tableId)
        });

        $(".field-option").click(function () {
            const tableId = $(this).data('table-id');
            getTableFields(tableId, $(this).text());
        });

        function getTableFields(tableId, type) {
            $.ajax({
                url: '/get_table_fields/',
                type: 'POST',
                data: {
                    tableid: tableId,
                    type: type
                },
                success: function (response) {
                    console.info('Table fields:', response.fields);
                    displayFields(response.fields);
                }
            });
        }

function displayFields(fields) {
    var fieldContainer = $('#response-container');
    fieldContainer.empty();

    fields.forEach(function (field, index) {

        var fieldElement = $('<div>', {
            id: field,
            class: 'drag-item',
            'data-order': index
        });

        var checkboxElement = $('<input>', {
            type: 'checkbox',
            class: 'form-check-input',
            id: 'exampleCheck1'
        });

     if (field.fieldid_real !== 'None' ) {
            checkboxElement.prop('checked', true);
        } else {
            checkboxElement.prop('checked', false);
        }


        var optionsDiv = $('<div>', {
            class: 'options-div',
            style: 'display: none;'
        });

        var spanElement1 = $('<span>', {
            text: 'Option 1'
        });
        optionsDiv.append(spanElement1);

        var spanElement2 = $('<span>', {
            text: 'Option 2'
        });
        optionsDiv.append(spanElement2);

        var buttonElement = $('<button>', {
            class: 'btn btn-primary btn-toggle',
            text: 'Options'
        }).on('click', function () {
            optionsDiv.slideToggle();
        });

        fieldElement.append(checkboxElement);
        fieldElement.append($('<span>', { text: field.fieldid }));
        fieldElement.append(buttonElement);
        fieldElement.append(optionsDiv);

        fieldContainer.append(fieldElement);
    });

    drake.containers.push(fieldContainer.get(0));
}




        function updateOrder() {
            var fieldElements = $('.drag-item');
            fieldElements.each(function (index) {
                $(this).attr('data-order', index);
            });
        }

        function saveFieldsOrder() {
            var fieldOrder = [];
            $('.drag-item').each(function () {
                var fieldId = this.id;
                var fieldOrderValue = $(this).attr('data-order');
                fieldOrder.push({
                    id: fieldId,
                    order: fieldOrderValue,
                });
            });

            $.ajax({
                url: '/save_fields_order/',
                type: 'POST',
                data: {
                    fields: JSON.stringify(fieldOrder),
                    tableid: $('#current-tableid').val()
                },
                success: function (response) {
                    console.log('Field order saved:', response);
                }
            });
        }
    });
</script>

<div id="order_settings">
    <div style="float: left">
        Utenti <br/>
        {% for user in users %}
        <button class="btn btn-secondary table-button">{{ user.username }}</button>
        <br>
        {% endfor %}
    
    </div>
    <div style="margin-left: 20px;float: left">
        Tabelle<br/>
        {% for table in tables %}
            <button class="btn btn-secondary table-button" data-table-id="{{ table.id }}">{{ table.id }}</button>
            <br>
        {% endfor %}
    </div>
    
    <div style="margin-left: 20px; float: left;" id="settings-container">
        Contesto<br/>
        <button class="btn btn-secondary field-option" value="campiinserimento">campiinserimento</button>
        <br>
        <br>
        <button class="btn btn-secondary field-option" value="risultatiricerca">risultatiricerca</button>
        <br>
        <br>
        <button class="btn btn-secondary field-option" value="keylabels">keylabel</button>
        <br>
        <br>
        <button id="save-button" onclick="saveFieldsOrder()" class="btn btn-primary">Save</button>
    </div>
    
    <div id="response-container" style="float: left; margin-left: 20px;"></div>
    
    <input id="current-tableid" type="hidden">
</div>






