<div id="chart{{ id }}"></div>

<script>
  var options = {
    chart: {
      height: 'auto',
      type: 'pie', // change chart type to pie
    },
    series: {{ value|safe|slice:"1:-1" }},
    labels: {{ labels|safe }},
    title: {
      text: '{{ name }}',
    },
    responsive: [{
      breakpoint: 480,
      options: {
        legend: {
          position: 'bottom',
        },
      },
    }],
  };

  var chart = new ApexCharts(document.querySelector("#chart{{ id }}"), options);

  chart.render();
</script>
