{% load my_tags %}

<div id="chart{{ id }}"></div>

<script>
  var options = {
    chart: {
        height: '100%',
      type: 'pie', // change chart type to pie
    },
    series: {{ value|safe|slice:"1:-1" }},
    labels: {{ labels|safe }},
    title: {
      text: '{{ name }}',
    },
    responsive: [{
      breakpoint: 480,
      options: {
        legend: {
          position: 'bottom',
        },
      },
    }],
      colors: ['#008ffbd9', '#00e396d9', '#ff4560d9', '#775dd0d9', '#ffc107d9', '#28a745d9', '#dc3545d9', '#17a2b8d9', '#6610f2d9', '#fd7e14d9']

  };

  var chart = new ApexCharts(document.querySelector("#chart{{ id }}"), options);


    chart.render();

</script>
