<div class="container" style="margin-top: 2%">
  {% for item in settings_list %}
      <form method="POST" action="{% url 'save_settings' %}">
        {% if item.setting == 'record_open_layout' %}
          <div>
            <label for="record_open_layout">layout</label>
            <select name="record_open_layout" id="record_open_layout" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              {% if item.value == 'rightcard' %}
                <option value="rightcard" selected>scheda a destra (consigliato)</option>
                <option value="modal">popup</option>
              {% else %}
                <option value="modal" selected>popup</option>
                <option value="rightcard">scheda a destra (consigliato)</option>
              {% endif %}
            </select>
          </div>
        {% elif item.setting == 'theme' %}
          <div>
            <label for="theme">tema</label>
            <select name="theme" id="theme" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              {% if item.value == 'default' %}
                <option value="default" selected>tema default</option>
                <option value="theme1">tema1</option>
                <option value="bixhub">bixhub</option>
                <option value="scarletSlate">Scarlet Slate</option>
              {% elif item.value == 'theme1' %}
                <option value="theme1" selected>tema1</option>
                <option value="default">tema default</option>
                <option value="bixhub">bixhub</option>
                <option value="scarletSlate">Scarlet Slate</option>
              {% elif item.value == 'bixhub' %}
                <option value="bixhub" selected>bixhub</option>
                <option value="default">tema default</option>
                <option value="theme1">tema1</option>
                <option value="scarletSlate">Scarlet Slate</option>
              {% elif item.value == 'scarletSlate' %}
                <option value="scarletSlate" selected>Scarlet Slate</option>
                <option value="bixhub">bixhub</option>
                <option value="default">tema default</option>
                <option value="theme1">tema1</option>
              {% endif %}
            </select>
          </div>
        {% elif item.setting == 'active_panel' %}
            <div>
            <label for="active_panel">pannello attivo di default</label>
            <select name="active_panel" id="active_panel" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              {% if item.value == 'table' %}
                <option value="table" selected>tabella</option>
                <option value="grouped">raggruppati</option>
              {% else %}
                <option value="grouped" selected>raggruppati</option>
                <option value="table">tabella</option>
              {% endif %}
            </select>
          </div>
        {% endif %}
      {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="float:right">Salva</button>
  </form>
</div>
