{% extends 'base.html' %}
{% load static %}

{% block body %}


    <div id="content_chart" style="height: 100%;width: 100%;overflow: scroll;">
        <div style="">
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <div onclick="trigger()" id="chart_div" style="width: 400px; height: 2000px;"></div>

                     <p id='testt'>1</p>


            <script>

</script>

            <script>


          const ctx = document.getElementById('myChart');

  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ data.users|safe }},
      datasets: [{
        label: 'Margine previsto',
        data: {{ data.expected_margins|safe }},
        borderWidth: 1
      },
          {
              label : 'Margine effettivo',
                data: {{ data.effective_margins|safe }},
                borderWidth: 1
          }
      ]
    },
    options: {
        onClick:
            function clickHandler (evt) {
             // Get the selected chart element
            const selectedElements = myChart.getElementsAtEventForMode(evt, "nearest", { intersect: true });

            // Get the selected chart element's data
            /*const selectedDataset = selectedElements[0].dataset;
            const selectedElementIndex = selectedElements[0].index;
            const selectedElementLabel = selectedDataset.labels[selectedElementIndex];
            const selectedElementValue = selectedDataset.data[selectedElementIndex];
            const label = selectedDataset.label;*/

            submit(selectedElements);
            //openModal(selectedElements);



        },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });



function submit(selectedElements) {
const selectedElement = selectedElements[0];
const label = myChart.data.labels[selectedElement.index];
const dataset = myChart.data.datasets[selectedElement.datasetIndex].data[selectedElement.index];
const dataset_name = myChart.data.datasets[selectedElement.datasetIndex].label;

document.getElementById("submit-inp").value = label;
//document.getElementById("frm").submit();

  // Make AJAX request to server
  $.ajax({
    url: {% url 'get_full_data' %},
    type: 'POST',
    data: {
      'name': label,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function(response) {
        console.log(response);



        openModal(response);

    },
  });
}



function openModal(response) {
    // get the table body
    let tbody = document.getElementById("table-body");
    // clear any existing rows
    tbody.innerHTML = "";
    // loop through the data and add a row for each item
    for (let i = 0; i < response.dealname.length; i++) {
        let row = document.createElement("tr");
        let numberCell = document.createElement("td");
        numberCell.innerText = i + 1;
        row.appendChild(numberCell);
        let dealnameCell = document.createElement("td");
        dealnameCell.innerText = response.dealname[i]
        row.appendChild(dealnameCell);
        let expectedMarginCell = document.createElement("td");
        expectedMarginCell.innerText = response.expectedmargin[i];
        row.appendChild(expectedMarginCell);
        let effectiveMarginCell = document.createElement("td");
        effectiveMarginCell.innerText = response.effectivemargin[i];
        row.appendChild(effectiveMarginCell);
        tbody.appendChild(row);
    }
    //change modal title
    document.getElementById("exampleModalLabel").innerText = response.name +" reports";
    // show the modal
    $('#exampleModal').modal('show');
}

            </script>

            <form onsubmit="return false" action="{% url 'get_full_data' %}" method="POST" id="frm">
                {% csrf_token %}
                <input type="hidden" name="data-req" id="submit-inp">
            </form>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="content">

<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Deal Name</th>
                <th scope="col">Expected Margin</th>
                <th scope="col">Effective Margin</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

        </div>
    </div>

{% endblock %}
