<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap select -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

<script>
    function initSelect1() {
        $('#select1').find('.select2-input').each(function () {
            $(this).select2({
                dropdownParent: $(this).parent()
            }).addClass('select2-initialized');
        });

        $(document).on('select2:open', function (e) {
            window.setTimeout(function () {
                document.querySelector('input.select2-search__field').focus();
            }, 0);
        });
    }

    function initSelect2() {
        $('#select2').find('.select2-input').each(function () {
            $(this).select2({
                dropdownParent: $(this).parent()
            }).addClass('select2-initialized');
        });

        $(document).on('select2:open', function (e) {
            window.setTimeout(function () {
                document.querySelector('input.select2-search__field').focus();
            }, 0);
        });
    }
</script>

<div id="select1" style="width: 50%">
    <select class="select2-input" multiple="multiple"></select>
</div>

<div id="select2" style="width: 50%">
    <select class="select2-input" multiple="multiple"></select>
</div>

<button id="btn" onclick="initSelect1()">Click</button>
<button id="btn2" onclick="initSelect2()">Click2</button>
