<div id="chart2">
</div>

<script>
    var options = {
        chart: {
            type: 'line',
            height: 'auto', // auto adjusts height to fit mobile screens
            toolbar: {
                show: true, // enables the toolbar to zoom, pan, etc
                tools: {
                    download: false, // removes the download button from toolbar
                }
            }
        },
        series: [{
      name: 'Total amount',
      data: {{ data.amounts|safe }}
    },
    {
      name: 'Total net',
      data: {{ data.totalnets|safe }}
    }],
        xaxis: {
            categories: {{ data.months|safe }}
        },
                yaxis: {
    labels: {
      formatter: function(val) {
        return Math.round(val);
      }
    }
  },
        stroke: {
  curve: 'smooth',
},
        responsive: [{
            breakpoint: 768, // this is the width at which the chart will become responsive
            options: {
                chart: {
                    width: '100%' // set the chart width to 100% at this breakpoint
                }
            }
        }]
    }

    var chart = new ApexCharts(document.querySelector("#chart2"), options);

    chart.render();
</script>
