{% extends 'base.html' %}
{% load static %}

{% block body %}
    <button type="button" class="btn btn-primary" id="button1" data-recordid="1" data-tableid="test" data-user="marco"
            onclick="checkInstance($(this).data('recordid'), $(this).data('tableid'), $(this).data('user') )">
        Launch demo modal
    </button>

    <button type="button" class="btn btn-primary" id="button2" data-recordid="2" data-tableid="test"
            onclick="checkInstance($(this).data('recordid'), $(this).data('tableid'), $(this).data('user') )">
        Launch demo modal
    </button>


    <button type="button" class="btn btn-primary" id="button3" data-recordid="3" data-tableid="test" data-user="marco"
            onclick="checkInstance($(this).data('recordid'), $(this).data('tableid'), $(this).data('user') )">
        Launch demo modal
    </button>


    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>

    </div>

    <script>

        const myModal = document.getElementById('modal1')
        myModal.addEventListener('hidden.bs.modal', () => {
            closeFunction()
        })


        function checkInstance(recordid, tableid, user) {
            $.ajax({
                url: "{% url 'test_lock' %}",
                type: "GET",
                dataType: "json",
                data: {
                    recordid: recordid,
                    tableid: tableid,
                },
                success: function (data) {
                    if (data.success) {
                        // Set data attributes on modal
                        $('#modal1').attr('data-recordid', recordid);
                        $('#modal1').attr('data-tableid', tableid);
                        $('#modal1').attr('data-user', user);

                        // Show modal
                        $('#modal1').modal('show');
                    } else {
                        alert('Instance is busy by ' + data.user + '');
                    }
                },
                error: function (data) {
                    console.info(data)
                    alert('Error');
                }
            });
        }

        function closeFunction() {
            //trigger a function when the modal is closed

            var recordid = $('#modal1').data('recordid');
            var tableid = $('#modal1').data('tableid');
            var user = $('#modal1').data('user');

            $.ajax({
                url: "{% url 'test_lock' %}",
                type: "POST",
                dataType: "json",
                data: {
                    recordid: recordid,
                    tableid: tableid,
                },
                success: function (data) {
                    alert('instance is free')
                },
                error: function () {
                    alert('Error');
                }
            });

        }

    </script>
{% endblock %}
