<script>
$(document).ready(function(){
    $('.query-button').click(function(){
        var query = $(this).text();
        $.ajax({
            url: "{% url 'get_query_to_test' %}",
            type: "POST",
            data: {
                'query': query
            },
            success: function(data){
                $('#response-container').html(data);
            },
            error: function(data){
                alert("Error occurred");
                console.info(data);
            }
        });
    });
});
</script>

<button type="button" class="btn btn-primary query-button">query1</button>
<button type="button" class="btn btn-primary query-button">query2</button>

<div id="response-container"></div>
