*.pyc
__pycache__/
*.sqlite3
/staticfiles/
/media/
/local_settings.py
bixdata_view/bixdata_view/.env 2
bixdata_view/bixdata_app/__pycache__/__init__.cpython-311.pyc
*.pyc
*.pyc
bixdata_view/bixdata_view/__pycache__/settings.cpython-311.pyc
.env
*.pdf
*.pyc
o365_token.txt
o365_token.txt
..static/images/users/deal_00000000000000000000000000001528.PNG
attachments
attachments_bixdata
bixdata_view/bixdata_app/views/test_react.py
".env"
".env"
