{% load static %}

<script>

    $(document).ready(function () {
        get_user_tasks_stats();
    });

    function get_user_tasks_stats() {
        $.ajax({
            url: "{% url 'get_user_tasks_stats' %}",
            type: "POST",
            success: function (data) {
                $('#task-stats-container').html(data.tasks_stats);
            }
        });

    }
</script>

<div id="task-stats-container" class="container fluid" style="height: 100% !important; width: 100% !important">

</div>
