/* queste regole css vengono applicate sempre in ogni occasione indipendentemente da risoluzione e tema */

.content-page {
    min-height: 1px !important;
    height: 10px;
}

html[data-sidenav-size=condensed]:not(.authentication-bg) {
    min-height: 0px !important;
}

.wrapper {
    min-height: 0px !important;
}

.results-table-standard, .results-table-linked {
    min-width: 1500px;
}

