@media screen and (max-width: 1899px) {

    .card-body {
        padding: 5px !important;
        height: 100% !important;
        width: 100% !important;
    }

    .modal-fullscreen {
        max-width: 100% !important;
    }

    #newRecordModal > .modal-fullscreen {
        width: 80%;
        margin: 2% auto auto;
        height: 85%
    }

    #recordModal > .modal-fullscreen {
        width: 90%;
        height: 90%;
        margin: 1% auto auto;
    }

    #linked-table-modal > .modal-fullscreen {
        width: 90%;
        margin: 2% auto auto;
        height: 90%
    }

    #newLinkedRecordModal > .modal-fullscreen {
        width: 75%;
        margin: 2% auto auto;
        height: 80%
    }

    #content-card {
        padding: 10px;
    }

    #results {
        margin-top: -2%
    }

    table {
        font-size: 10pt !important;
    }

    .board {
        font-size: 10pt;
    }

    .task-header {
        font-size: 10pt;
    }

    /*calendar */
    .small-header .fc-header {
        font-size: 10px;
        width: 10px;
    }

    .small-header .fc-header-title h2 {
        font-size: 10pt;
    }

    .small-header .fc-header-left {
        font-size: 10pt;
    }

    .small-header .fc-header-right {
        font-size: 10pt;
    }

    #card-menu .btn {
        font-size: smaller;
        margin-top: 10px;
    }

    .btn .mdi:before {
        font-size: small;
    }

    #card-menu {
        margin-bottom: 15px
    }

    .span-pc {
        font-size: 10pt;
    }

    .tabs-icon {
        font-size: 10pt;
    }

    .pagination {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
        scale: 0.7;
    }

    #results {
        font-size: 10pt;
    }

    .btn {
        font-size: 9pt;
    }

    .nav-link {
        font-size: 10pt;
    }

    #fields-scroll-container {
        font-size: 10pt;
    }

    ul.ui-autocomplete {
        font-size: 10pt;
    }


    td, tr {
        padding: 2px !important;
        font-size: 10pt;
    }

    #block_record_badge > .card-body {
        padding: 5px !important;
    }

    #block_record_badge, #card-menu {
        margin-bottom: 0 !important;
    }

    #block_record_badge {
        scale: 0.85;
        font-size: 9pt;
    }

    .fields_container {
        scale: 0.85;
        margin-top: -2%;
    }

    #block_record_badge {
        font-size: 10pt;
    }



    #card-menu {
        font-size: 9pt;
    }

    .save-button {
        font-size: 10pt; !important;
        scale: 0.7;
    }

        /* non usato */
    .records-button {
         font-size: 9pt; !important;
    }

        /* non usato */
    .records-button-secondary {
         font-size: 9pt; !important;
    }

    .results-table-standard {
        min-width: 1750px;
    }

     .field textarea {
        min-height: 100px !important;
    }

    .save-button {
        margin-bottom: 1% !important;
    }

    .field  input, textarea, select {
        margin-bottom: 1% !important;
    }

    .col-lg-3 > p {
        margin-bottom: 1% !important;
    }

    .filter-column select {
        font-size: 9pt !important;
    }

    .filter-column input {
        font-size: 9pt !important;
    }

    .results-table-linked #results-body #results-row {
        line-height: 20px !important;
    }

    #refresh-button {
        font-size: 18px !important;
    }


}