@media screen and (max-width: 2000px) {
    #content-card {
        padding: 10px;
    }

    #results {
        margin-top: -2%
    }

    table {
        font-size: 12pt;
    }

    .board {
        font-size: 12pt;
    }

    .task-header {
        font-size: 12pt;
    }

    /*calendar */
    .small-header .fc-header {
        font-size: 12px;
        width: 10px;
    }

    .small-header .fc-header-title h2 {
        font-size: 12pt
    }

    .small-header .fc-header-left {
        font-size: 12pt
    }

    .small-header .fc-header-right {
        font-size: 12pt;
    }

    #card-menu .btn {
        font-size: small;
        margin-top: 10px;
    }

    .btn .mdi:before {
        font-size: small;
    }

    #card-menu {
        margin-bottom: 15px
    }

    .span-pc {
        font-size: 12pt;
    }

    .tabs-icon {
        font-size: 12pt;
    }

    #results {
        font-size: 12pt;
    }

    .btn {
        font-size: 12pt;
    }

    .nav-link {
        font-size: 12pt;

    #fields-scroll-container {
        font-size:12pt;
    }

    ul.ui-autocomplete {
        font-size: 12pt;
    }

    #Recordcard {
        width: 100%;
    }

    td, tr {
        padding: 3px !important;
        font-size: 12pt;
    }

    .modal-fullscreen {
        width: 85% !important;
    }

    #block_record_badge > .card-body {
        padding: 5px !important;
    }

    #block_record_badge, #card-menu {
        margin-bottom: 1% !important;
    }

    .card-body {
        padding: 15px !important;
    }

    #RecordCard > .card-body {

    }

    #block_record_badge {
        scale: 0.85;
    }

    .fields_container {
        scale: 0.85;
        margin-top: -2%;
    }

    #block_record_badge {
        font-size: 12pt;
    }

    #card-menu > button  {
       font-size: 12pt; !important;
    }

    #card-menu > .dropdown > button {
        font-size: 12pt;
    }

    .save-button {
        font-size: 12pt; !important;
        scale: 0.7;
    }

    .records-button {
         font-size: 12pt; !important;
    }

    .records-button-secondary {
         font-size: 12pt; !important;
    }


}