<style>

    @media (min-height: 1200px) {
        #content_records_calendar {
            max-height: 95%;
            height: 95%
        }
    }

     @media (min-height: 1000px) and (max-height: 1200px) {
        #content_records_calendar {
            max-height: 90%;
            height: 90%
        }
    }

    @media (max-height: 1000px) {
        #content_records_calendar {
            max-height: 79%;
            height: 79%
        }
    }

    .fc-title {
        font-weight: bold;
    }

    .fc-view {
        margin-top: 10px;
    }




</style>

<script>
    function selectTypeOfDate(datetype) {
        $.ajax({
            type: "POST",
            url: "{% url 'block_records_calendar' %}",
            data: {
                'datetype': datetype,
                'viewid': $('#viewid').val(),
                'tableid': '{{ tableid }}',
            },
            success: function (response) {
                $('#calendar-section-container').html(response);
            },
            error: function (response) {
            }

        })
    }
</script>

<div id="calendar-section-container" style="width: 100%; height: 100%">
    <select id="select-date-type" class="form-select" aria-label="Default select example" onchange="selectTypeOfDate(this.value)" style="width: 10%">
        {% for field in select_fields %}
            <option {{ field.selected }} value="{{ field.fieldid }}">{{ field.description }}</option>
        {% endfor %}
    </select>

    <div id="content_records_calendar">
    <div id="calendar"></div>
    </div>

</div>

<script>
    var jsonEvents = [];

    {% for event in events %}

        {%  if event.date is not None and event.date != '' %}

              console.info('{{ event.date }}')

            {% if event.start is None and event.end is None %}
                allDay = true;

                start = "{{ event.date }}"
                end = "{{ event.date }}"

            {% elif event.start == '' and event.end == ''%}
                allDay = true;

                start = "{{ event.date }}"
                end = "{{ event.date }}"

            {% else %}

                allDay = false;

                start = "{{ event.start }}"
                end = "{{ event.end }}"
                planneddate = "{{ event.date }}"

                console.info('{{ event.start }}')
                console.info(start, end, planneddate)



                startTimeParts = start.split(":");
                endTimeParts = end.split(":");


                var startDate = new Date(planneddate);
                startDate.setHours(parseInt(startTimeParts[0], 10));
                startDate.setMinutes(parseInt(startTimeParts[1], 10));

                var offset = startDate.getTimezoneOffset();
                startDate.setMinutes(startDate.getMinutes() - offset);
                var formattedStartDate = startDate.toISOString().slice(0, 19);

                var endDate = new Date(planneddate);
                endDate.setHours(parseInt(endTimeParts[0], 10));
                endDate.setMinutes(parseInt(endTimeParts[1], 10));

                offset = endDate.getTimezoneOffset();
                endDate.setMinutes(endDate.getMinutes() - offset);
                var formattedEndDate = endDate.toISOString().slice(0, 19);


                console.info(startDate)
                console.info(formattedStartDate)


                start = formattedStartDate;
                end = formattedEndDate;




            {% endif %}

            jsonEvents.push({
                "title": "{{ event.description }}",
                "start": start,
                "end": end,
                "allDay": allDay,
                "recordid": "{{ event.recordid_ }}",
                //"calendarid": "{{ event.o365_idcalendar }}"
            });

        {% endif %}

    {% endfor %}




    var calendar = $('#calendar').fullCalendar({
        events: jsonEvents,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        height: 'parent',
        eventClick: function (event) {
            //open_record_calendar(event.recordid);
            open_record(window.content, '{{ tableid }}', event.recordid, 'edit', '');

        },
        eventDrop: function (event, delta, revertFunc, allDay = event.allDay) {

            if ($('#select-date-type').val() != 'planneddate') {
                updateRecordDate(event.recordid, event)
            }
            else if ($('#select-date-type').val() == 'planneddate') {
                updateRecordDate(event.recordid, event)
            }
            else {
                alert('You can move only the planned date')
                revertFunc();
            }
        },


        eventRender: function (event, element) {

            // Customize event rendering to display only the event title
            element.find('.fc-title').html(event.title);
        },


        eventResize: function(event, delta, revertFunc) {
            if ($('#select-date-type').val() == 'planneddate') {


                enddate = event.end._i

                enddate = enddate.map(number => number.toString());

                date = enddate[3] + ':' + enddate[4]
                date = formatHours(date)
                enddate = date.toString()
                console.info(event)
                updateEndDate(enddate, event.recordid)

            }
            else {
                alert('You can resize only the planned date')
                revertFunc();
            }

        }
    });

    function updateRecordDate(recordid, event) {

        datetype = $('#select-date-type').val();
        console.info(event)

        eventdate = event.start._d




        var date = new Date(eventdate);

        // Estrazione dell'anno, del mese e del giorno
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0'); // Il mese inizia da 0, quindi aggiungiamo 1
        var day = date.getDate().toString().padStart(2, '0');

        // Costruzione della data nel formato richiesto (yyyy-mm-dd)
        var formattedDate = year + "-" + month + "-" + day;

        if (event.allDay == true) {

            $.ajax({
                type: "POST",
                url: "{% url 'set_event_allday' %}",
                data: {
                    'recordid': recordid,
                    'datetype': datetype,
                    'tableid': '{{ tableid }}',
                    'date': formattedDate,
                },
                success: function (response) {
                },
                error: function (response) {
                }

            })

        } else {

            start = event.start._i
            start = start.map(number => number.toString());
            starthour = start[3] + ':' + start[4]
            starthour = formatHours(starthour)

            if (event.end == null){
                event.end = event.start

                event.end._i[3] += 1;

            }
            end = event.end._i
            end = end.map(number => number.toString());

            endhour = end[3] + ':' + end[4]
            endhour = formatHours(endhour)




            $.ajax({
                type: "POST",
                url: "{% url 'update_record_date' %}",
                data: {
                    'recordid': recordid,
                    'datetype': datetype,
                    'tableid': '{{ tableid }}',
                    'date': formattedDate,
                    'starthour': starthour,
                    'endhour': endhour,
                    'allDay': event.allDay
                },
                success: function (response) {
                },
                error: function (response) {
                }

            })
        }


    }

    function updateEndDate(enddate, recordid) {
        $.ajax({
            type: "POST",
            url: "{% url 'update_end_date' %}",
            data: {
                'enddate': enddate,
                'recordid': recordid,
            },
            success: function (response) {
            },
            error: function (response) {
            }

        })
    }

    function formatHours(hour) {
        // Dividere l'ora e i minuti
        let [hours, minutes] = hour.split(':');

        // Aggiungere zeri iniziali se necessario
        hours = hours.padStart(2, '0');
        minutes = minutes.padStart(2, '0');

        // Unire le parti formattate
        const formattedTime = `${hours}:${minutes}`;

        return formattedTime;
    }


</script>













