{% load define_action %}


<script src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/jquery-ui/dist/themes/base/jquery-ui.min.css" rel="stylesheet">


<script>
    function toggleCollapse(el) {
        $(el).next('.div-collapse').slideToggle(200);
    }

    function serializeForm(formElements) {
        var formData = [];
        //var formElements = document.getElementById("myForm").elements;
        for (var i = 0; i < formElements.length; i++) {
            var element = formElements[i];
            if (element.name) {
                if (element.type === "select-multiple") {
                    var selectedOptions = [];
                    for (var j = 0; j < element.options.length; j++) {
                        if (element.options[j].selected) {
                            selectedOptions.push(element.options[j].value);
                        }
                    }
                    formData.push({name: element.name, value: selectedOptions});
                } else if (element.type === "checkbox") {
                    if (element.checked) {
                        formData.push({name: element.name, value: element.value});
                    }
                } else {
                    formData.push({name: element.name, value: element.value});
                }
            }
        }
        return formData;
    }


    function selectAllText(input) {
        input.setSelectionRange(0, input.value.length);
    }


    function set_checkbox_value(el) {
        if (el.checked) {
            $(el).next('input').val('Si');
        } else {
            $(el).next('input').val('No');
        }
    }

    $(document).ready(function () {
        tableid = "{{tableid}}"
        //$('input.datepicker').Zebra_DatePicker();
        $('.field').change(function () {
            if (tableid == "dealline") {
                update_dealline(this)
            }
        })

        $('.calcolato').prop("readonly", true);
        $('.calcolato').css({"background-color": "#f5f5f5"})

    });

    $('#filters_container_{{ tableid }}_{{ recordid }}').find('.select2-input').each(function () {
        $(this).select2({
            dropdownParent: $(this).parent()
        }).addClass('select2-initialized');
    });


    $(document).on('select2:open', function (e) {
        window.setTimeout(function () {
            document.querySelector('input.select2-search__field').focus();
        }, 0);
    })


    function update_dealline(el) {
        container = $(el).closest('.container ');
        field_type = $(el).data('type');

        quantity = $(container).find('#field-quantity').val();
        if (quantity == "") {
            quantity = 1
            $(container).find('#field-quantity').val(1);
        }

        if (field_type == "linkedmaster") {

            recordid = $(el).closest('.field').find('.hidden-input').val()

            var serialized_data = [];
            serialized_data.push({name: 'tableid', value: 'product'});
            serialized_data.push({name: 'recordid', value: recordid});
            $.ajax({
                type: "POST",
                url: "{% url 'get_record' %}",
                data: serialized_data,
                success: function (response) {
                    console.info(response)
                    var product_fields = response
                    $(container).find('#field-unitprice').val(product_fields.unitprice);
                    $(container).find('#field-unitexpectedcost').val(product_fields.unitcost);
                    $(container).find('#field-name').val(product_fields.name);
                    unitprice = $(container).find('#field-unitprice').val();
                    unitexpectedcost = $(container).find('#field-unitexpectedcost').val();
                    lineprice = unitprice * quantity
                    lineexpectedcost = unitexpectedcost * quantity
                    $(container).find('#field-price').val(lineprice);
                    $(container).find('#field-expectedcost').val(lineexpectedcost);
                    $(container).find('#field-expectedmargin').val(lineprice - lineexpectedcost);
                },
                error: function (response) {
                    console.info(response)
                }
            });

        }

        unitprice = $(container).find('#field-unitprice').val();
        unitexpectedcost = $(container).find('#field-unitexpectedcost').val();
        lineprice = unitprice * quantity
        lineexpectedcost = unitexpectedcost * quantity
        lineexpectedmargin = lineprice - lineexpectedcost
        $(container).find('#field-price').val(lineprice);
        $(container).find('#field-expectedcost').val(lineexpectedcost);
        $(container).find('#field-expectedmargin').val(lineexpectedmargin);

    }


</script>


<div class="container filters_container" style="height: 100%" id="filters_container_{{ tableid }}_{{ recordid }}">
    <form id="records_filters_form">
        {{ filter_field.description }} <br/>
        <div class="row">
            {% for filter_field_key,filter_field in filter_fields.items %}
                <div class="col field">
                    {% with fieldname=filter_field.fieldid %}
                        {% with fieldid='field-'|add:filter_field.fieldid %}


                            {% if filter_field.fieldtypeid == 'Parola' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="parolaDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="parolaDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                    </ul>
                                </div>

                                {% if filter_field.fieldtypewebid == 'checkbox' %}
                                    <input class="form-check-input mt-0" type="checkbox" value=""
                                           id="checkbox-{{ recordid }}"
                                           aria-label="Checkbox for following text input"
                                           onchange="set_checkbox_value(this)">
                                    <input id="input-{{ recordid }}" type="hidden" name="{{ fieldname }}"
                                           value="{{ filter_field.value }}">
                                    <script>

                                        change_checkbox_view()

                                        function change_checkbox_view() {
                                            if ($('#input-{{ recordid }}').val() == 'Si') {
                                                $('#input-{{ recordid }}').prev('input').prop('checked', true);
                                            } else {
                                                $('#close-task-button-{{ recordid }}').css('display', 'block')
                                            }
                                        }

                                    </script>

                                {% else %}
                                    {% if filter_field.lookuptableid %}
                                        {% for valuecode in filter_field.valuecode %}
                                            <div class="input-group mb-2">
                                                <select id="{{ fieldid }}-filters" name="{{ fieldname }}"
                                                        class="select2-input {{ mandatory }} {{ calcolato }}"
                                                        multiple="multiple">
                                                    {% if filter_field.lookupitems %}
                                                        <option value=""></option>
                                                        {% for item in filter_field.lookupitems %}
                                                            <option value="{{ item.itemcode }}">{{ item.itemdesc }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <input id="{{ fieldid }}" name="{{ fieldname }}"
                                               class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="text"
                                               value="">
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if filter_field.fieldtypeid == 'Data' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="dataDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                        <li><a class="dropdown-item" href="#">Passato</a></li>
                                        <li><a class="dropdown-item" href="#">Futuro</a></li>
                                        <li><a class="dropdown-item" href="#">Questa settimana</a></li>
                                        <li><a class="dropdown-item" href="#">Questo mese</a></li>
                                    </ul>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <input id="{{ fieldid }}" name="{{ fieldname }}"
                                               class="form-control datepicker {{ mandatory }} {{ calcolato }}"
                                               type="date"
                                               value="{{ filter_field.valuecode.0.code }}"
                                               oninput="validateInput(this)">
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <input id="{{ fieldid }}-2" name="{{ fieldname }}-2"
                                           class="form-control datepicker {{ mandatory }} {{ calcolato }}" type="date"
                                           value="{{ filter_field.valuecode.0.code }}" oninput="validateInput(this)">
                                </div>


                                <script>
                                    function validateInput(el) {
                                        var inputValue = el.value;
                                        var year = inputValue.split('-')[0];
                                        if (year.length > 4) {
                                            alert('Anno non valido');
                                            el.value = inputValue.slice(0, -1);

                                        }
                                    }
                                </script>
                            {% endif %}

                            {% if filter_field.fieldtypeid == 'Seriale' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="serialeDropdown"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="serialeDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                        <li><a class="dropdown-item" href="#">Utente corrente</a></li>
                                    </ul>
                                </div>
                                <p>{{ filter_field.value }}</p>
                            {% endif %}
                            {% if filter_field.fieldtypeid == 'Numero' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="numeroDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="numeroDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                    </ul>
                                </div>
                                <input id="{{ fieldid }}" name="{{ fieldname }}"
                                       class="form-control {{ mandatory }} {{ calcolato }}" type="number"
                                       value="">
                                <input id="{{ fieldid }}-2" name="{{ fieldname }}"
                                       class="form-control {{ mandatory }} {{ calcolato }}" type="number"
                                       value="">
                            {% endif %}
                            {% if filter_field.fieldtypeid == 'Memo' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="memoDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="memoDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                    </ul>
                                </div>
                                {% if fieldname == 'description' %}
                                    {{ filter_field.description }}
                                    <i class="mdi mdi-dots-vertical btn" id="descriptionDropdown"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"></i>
                                    <div class="dropdown">
                                        <ul class="dropdown-menu" aria-labelledby="descriptionDropdown">
                                            <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                            <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                            <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                        </ul>
                                    </div>
                                    <textarea style="min-height: 250px"
                                              class="form-control mb-2 {{ mandatory }} {{ calcolato }}"
                                              id="{{ fieldid }}" name="{{ fieldname }}"
                                              rows="3">{{ filter_field.value }}</textarea>
                                {% else %}
                                    <textarea class="form-control mb-2 {{ mandatory }} {{ calcolato }}"
                                              id="{{ fieldid }}"
                                              name="{{ fieldname }}" rows="3">{{ filter_field.value }}</textarea>
                                {% endif %}
                            {% endif %}
                            {% if filter_field.fieldtypeid == 'Ora' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="oraDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="oraDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                    </ul>
                                </div>
                                <input id="{{ fieldid }}" name="{{ fieldname }}"
                                       class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="time"
                                       value="">
                                <input id="{{ fieldid }}-3" name="{{ fieldname }}"
                                       class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="time"
                                       value="">
                            {% endif %}
                            {% if filter_field.fieldtypeid == 'Utente' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="utenteDropdown"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="utenteDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                        <li><a class="dropdown-item" href="#">Utente corrente</a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group mb-2">
                                            <select id="{{ fieldid }}-filters" name="{{ fieldname }}"
                                                    class="select2-input {{ mandatory }} {{ calcolato }}">
                                                <option id="" value=""></option>
                                                {% for items in filter_field.lookupitems %}
                                                    {% if items.id and items.firstname and items.lastname %}
                                                        <option id="{{ items.id }}"
                                                                value="{{ items.id }}">{{ items.firstname }} {{ items.lastname }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                            {% if filter_field.fieldtypeid == 'linkedmaster' %}
                                {{ filter_field.description }}
                                <i class="mdi mdi-dots-vertical btn" id="linkedmasterDropdown" data-bs-toggle="dropdown"
                                   aria-expanded="false"></i>
                                <div class="dropdown">
                                    <ul class="dropdown-menu" aria-labelledby="linkedmasterDropdown">
                                        <li><a class="dropdown-item" href="#">Almeno un valore</a></li>
                                        <li><a class="dropdown-item" href="#">Nessun valore</a></li>
                                        <li><a class="dropdown-item" href="#">Diverso da</a></li>
                                    </ul>
                                </div>
                                <div class="autocomplete-input-container" style="display: flex; align-items: center;">
                                    <div style="position: relative; width: 100%;">
                                        <input class="form-select mb-2 {{ mandatory }} {{ calcolato }}"
                                               id="{{ fieldid }}-{{ recordid }}-autocomplete"
                                               style="width: calc(90% - 15px);"
                                               value="{{ filter_field.valuecode.0.value }}"
                                               onfocus="selectAllText(this); "
                                               data-type="linkedmaster">

                                        <button class="btn"
                                                onclick="clearInput(this,'{{ fieldid }}-{{ recordid }}-autocomplete')"
                                                style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;">
                                            <span class="material-symbols-outlined">clear</span>
                                        </button>
                                    </div>

                                    <input type="hidden" class="hidden-input {{ mandatory }} {{ calcolato }}"
                                           name="{{ filter_field.fieldid }}" value="{{ filter_field.recordid }}">

                                    <button class="btn btn-light"
                                            onclick="newRecord('{{ filter_field.tablelink }}', 'yes')"
                                            name="add"
                                            style="width: auto">
                                        <span class="material-symbols-outlined">add</span>
                                    </button>

                                </div>

                                <script>
                                    function clearInput(el, inputId) {
                                        document.getElementById(inputId).value = '';
                                        $(el).closest('.field').find('.hidden-input').val("");
                                    }

                                </script>
                            {% endif %}
                            {% for items in filter_field.valuecode %}
                                {% if items.value and items.code %}
                                {% endif %}

                                <script>

                                    $(function () {
                                        function log(message) {
                                            $("<div>").text(message).prependTo("#log");
                                            $("#log").scrollTop(0);
                                        }

                                        $("#{{ fieldid }}-{{ recordid }}-autocomplete").autocomplete({
                                            source: function (request, response) {
                                                $.ajax({
                                                    url: "{% url 'get_autocomplete_data' %}",
                                                    data: {
                                                        'term': request.term,
                                                        'tableid': '{{tableid}}',
                                                        'mastertableid': '{{ filter_field.tablelink }}'
                                                    },
                                                    success: function (data) {
                                                        console.info(data)
                                                        response(data.data);
                                                    }
                                                });
                                            },
                                            minLength: 0, // Set minLength to 0 to show autocomplete on focus
                                            select: function (event, ui) {
                                                // console.log( "Selected: " + ui.item.id );

                                                $(this).closest('.field').find('.hidden-input').val(ui.item.id);
                                                {% if tableid == 'dealline' %}
                                                    update_dealline(this)
                                                {% endif %}

                                                /*
                                                $.ajax({
                                                    url: "






























                                                {% url 'get_badge' %}",
                                            data: {
                                                'recordid': ui.item.id,
                                                'tableid': '






























                                                {{tableid}}',
                                            },
                                            success: function (data) {
                                                console.info(data)
                                                response(data.data);
                                            }
                                        });
                                        */
                                            }
                                        }).focus(function () {
                                            // Trigger autocomplete on focus
                                            $(this).autocomplete("search", "");
                                        });

                                        // Handle empty input
                                        $("#{{ fieldid }}-{{ recordid }}-autocomplete").on("input", function () {
                                            var inputValue = $(this).val();
                                            if (inputValue === "") {
                                                $(this).val(""); // Imposta il valore predefinito
                                                $(this).closest('.field').find('.hidden-input').val("");
                                            }
                                        });
                                    });


                                    function showOption() {
                                        $(this).autocomplete({
                                            source: function (request, response) {
                                                $.ajax({
                                                    url: "{% url 'get_autocomplete_data' %}",
                                                    data: {
                                                        'term': request.term,
                                                        'tableid': '{{tableid}}',
                                                        'mastertableid': '{{ filter_field.tablelink }}'
                                                    },
                                                    success: function (data) {
                                                        console.info(data)
                                                        response(data.data);
                                                    }
                                                });
                                            },
                                            minLength: 0,
                                            select: function (event, ui) {
                                                //console.log( "Selected: " + ui.item.id );
                                                $(this).closest('.field').find('.hidden-input').val(ui.item.id);
                                            }
                                        });
                                    }
                                </script>

                            {% endfor %}
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}

        </div>
    </form>
</div>