<div id="#records_filters" style="height: 100%;width: 100%;">
    Records filters <br/>



    {% for filter_field in filter_fields %}
        {{ filter_field.description }} <br/>
        {{ filter_field.fieldtypeid }}<br/>

        {% if filter_field.fieldtypeid == 'Parola' %}
            {% if filter_field.fieldtypewebid == 'checkbox' %}
                <input class="form-check-input mt-0" type="checkbox" value=""
                       id="checkbox-{{ recordid }}"
                       aria-label="Checkbox for following text input"
                       onchange="set_checkbox_value(this)">
                <input id="input-{{ recordid }}" type="hidden" name="{{ fieldname }}"
                       value="{{ filter_field.value }}">
                <script>

                    change_checkbox_view()

                    function change_checkbox_view() {
                        if ($('#input-{{ recordid }}').val() == 'Si') {
                            $('#input-{{ recordid }}').prev('input').prop('checked', true);
                        } else {
                            $('#close-task-button-{{ recordid }}').css('display', 'block')
                        }
                    }

                </script>

            {% else %}
                {% if filter_field.lookuptableid %}
                    {% for valuecode in filter_field.valuecode %}
                        <div class="input-group mb-2">
                            {% if filter_field.fieldtypewebid == 'multiselect' %}
                                <select id="{{ fieldid }}" name="{{ fieldname }}"
                                        class="js-example-basic-single {{ mandatory }} {{ calcolato }}"
                                        multiple="multiple">
                            {% else %}
                                <select id="{{ fieldid }}" name="{{ fieldname }}"
                                        class="js-example-basic-single {{ mandatory }} {{ calcolato }}">
                            {% endif %}
                            {% if filter_field.lookupitems %}
                                <option value=""></option>
                                {% for item in filter_field.lookupitems %}
                                    {% if item.itemcode == filter_field.valuecode.0.code %}
                                        <option selected
                                                value="{{ item.itemcode }}">{{ item.itemdesc }}</option>
                                    {% else %}
                                        <option value="{{ item.itemcode }}">{{ item.itemdesc }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div>
                    {% endfor %}
                {% else %}
                    <input id="{{ fieldid }}" name="{{ fieldname }}"
                           class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="text"
                           value="{{ filter_field.value }}">
                {% endif %}
            {% endif %}
        {% endif %}

        {% if filter_field.fieldtypeid == 'Data' %}
            <input id="{{ fieldid }}" name="{{ fieldname }}"
                   class="form-control mb-2 datepicker {{ mandatory }} {{ calcolato }}" type="date"
                   value="{{ filter_field.valuecode.0.code }}" oninput="validateInput(this)">
            <script>
                function validateInput(el) {
                    var inputValue = el.value;
                    var year = inputValue.split('-')[0];
                    if (year.length > 4) {
                        alert('Anno non valido');
                        el.value = inputValue.slice(0, -1);

                    }
                }
            </script>
        {% endif %}

        {% if filter_field.fieldtypeid == 'Seriale' %}
            <p>{{ filter_field.value }}</p>
        {% endif %}
        {% if filter_field.fieldtypeid == 'Numero' %}
            <input id="{{ fieldid }}" name="{{ fieldname }}"
                   class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="number"
                   value="{{ filter_field.value }}">
        {% endif %}
        {% if filter_field.fieldtypeid == 'Memo' %}
            {% if fieldname == 'description' %}
                <textarea style="min-height: 250px"
                          class="form-control mb-2 {{ mandatory }} {{ calcolato }}"
                          id="{{ fieldid }}" name="{{ fieldname }}"
                          rows="3">{{ filter_field.value }}</textarea>
            {% else %}
                <textarea class="form-control mb-2 {{ mandatory }} {{ calcolato }}" id="{{ fieldid }}"
                          name="{{ fieldname }}" rows="3">{{ filter_field.value }}</textarea>
            {% endif %}
        {% endif %}
        {% if filter_field.fieldtypeid == 'Ora' %}
            <input id="{{ fieldid }}" name="{{ fieldname }}"
                   class="form-control mb-2 {{ mandatory }} {{ calcolato }}" type="time"
                   value="{{ filter_field.value }}">
        {% endif %}
        {% if filter_field.fieldtypeid == 'Utente' %}
            <div class="input-group mb-2">
                <select id="{{ fieldid }}" name="{{ fieldname }}"
                        class="js-example-basic-single {{ mandatory }} {{ calcolato }}">
                    <option id="" value=""></option>
                    {% for items in filter_field.lookupitems %}
                        {% if items.id and items.firstname and items.lastname %}
                            {% if items.id == filter_field.valuecode.0.code %}
                                <option selected id="{{ items.id }}"
                                        value="{{ items.id }}">{{ items.firstname }} {{ items.lastname }}</option>
                            {% else %}
                                <option id="{{ items.id }}"
                                        value="{{ items.id }}">{{ items.firstname }} {{ items.lastname }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if filter_field.fieldtypeid == 'linkedmaster' %}
            <div class="autocomplete-input-container" style="display: flex; align-items: center;">
                <div style="position: relative; width: 100%;">
                    <input class="form-select mb-2 {{ mandatory }} {{ calcolato }}"
                           id="{{ fieldid }}-{{ recordid }}-autocomplete"
                           style="width: calc(90% - 15px);"
                           value="{{ filter_field.valuecode.0.value }}" onfocus="selectAllText(this); "
                           data-type="linkedmaster">

                    <button class="btn"
                            onclick="clearInput(this,'{{ fieldid }}-{{ recordid }}-autocomplete')"
                            style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;">
                        <span class="material-symbols-outlined">clear</span>
                    </button>
                </div>

                <input type="hidden" class="hidden-input {{ mandatory }} {{ calcolato }}"
                       name="{{ filter_field.fieldid }}" value="{{ filter_field.recordid }}">

                <button class="btn btn-light" onclick="newRecord('{{ filter_field.tablelink }}', 'yes')"
                        name="add"
                        style="width: auto">
                    <span class="material-symbols-outlined">add</span>
                </button>

            </div>

            <script>
                function clearInput(el, inputId) {
                    document.getElementById(inputId).value = '';
                    $(el).closest('.field').find('.hidden-input').val("");
                }

            </script>
        {% endif %}
        {% for items in filter_field.valuecode %}
            {% if items.value and items.code %}
            {% endif %}

            <script>

                $(function () {
                    function log(message) {
                        $("<div>").text(message).prependTo("#log");
                        $("#log").scrollTop(0);
                    }

                    $("#{{ fieldid }}-{{ recordid }}-autocomplete").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "{% url 'get_autocomplete_data' %}",
                                data: {
                                    'term': request.term,
                                    'tableid': '{{tableid}}',
                                    'mastertableid': '{{ filter_field.tablelink }}'
                                },
                                success: function (data) {
                                    console.info(data)
                                    response(data.data);
                                }
                            });
                        },
                        minLength: 0, // Set minLength to 0 to show autocomplete on focus
                        select: function (event, ui) {
                            // console.log( "Selected: " + ui.item.id );

                            $(this).closest('.field').find('.hidden-input').val(ui.item.id);
                            {% if tableid == 'dealline' %}
                                update_dealline(this)
                            {% endif %}

                            /*
                            $.ajax({
                                url: "









                            {% url 'get_badge' %}",
                                        data: {
                                            'recordid': ui.item.id,
                                            'tableid': '









                            {{tableid}}',
                                        },
                                        success: function (data) {
                                            console.info(data)
                                            response(data.data);
                                        }
                                    });
                                    */
                        }
                    }).focus(function () {
                        // Trigger autocomplete on focus
                        $(this).autocomplete("search", "");
                    });

                    // Handle empty input
                    $("#{{ fieldid }}-{{ recordid }}-autocomplete").on("input", function () {
                        var inputValue = $(this).val();
                        if (inputValue === "") {
                            $(this).val(""); // Imposta il valore predefinito
                            $(this).closest('.field').find('.hidden-input').val("");
                        }
                    });
                });


                function showOption() {
                    $(this).autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "{% url 'get_autocomplete_data' %}",
                                data: {
                                    'term': request.term,
                                    'tableid': '{{tableid}}',
                                    'mastertableid': '{{ filter_field.tablelink }}'
                                },
                                success: function (data) {
                                    console.info(data)
                                    response(data.data);
                                }
                            });
                        },
                        minLength: 0,
                        select: function (event, ui) {
                            //console.log( "Selected: " + ui.item.id );
                            $(this).closest('.field').find('.hidden-input').val(ui.item.id);
                        }
                    });
                }
            </script>

        {% endfor %}
    {% endfor %}
</div>