<script type="text/javascript">

    //alert si apre con il doppio click sulla task
        $("#gantt").ready(function() {


            $(function(){
                //var tasks = '{{records_json|safe}}'
                var tasks = [
                {
                    id: 'Task 1',
                    name: 'Redesign website',
                    start: '2016-12-28',
                    end: '2016-12-31',
                    progress: 20,
                    dependencies: 'Task 2, Task 3'
                }
                ]
                tasks=jQuery.parseJSON(tasks)
                // Get the Gantt task elements
                var gantt = new Gantt('#tasks-gantt',tasks, {
                    //Add click event listener to tasks
                    on_click: function(task) {
                        alert("Task: " + task.name);
                    }
                });
            });
        });

    </script>

        <style>
            .gantt-container {
                width: 100%;
                overflow-x: hidden;
            }
        </style>

    <div id="#content_records_gantt" style="height: 100%;width: 100%;">

        <div id="gantt" class="container-fluid" style="width: 100%">

            <!-- start page title -->
            <!-- end page title -->

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- gantt view -->
                        <div class="col-xxl-9 mt-4 mt-xl-0 col-lg-8">
                            <div class="ps-xl-3">
                                <div class="row">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mt-3">
                                        <svg id="tasks-gantt"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end gantt view -->
                    </div>
                </div>
            </div>

        </div> <!-- container -->






    
    