
<script>
    function loadEvents(viewid) {
        $.ajax({
            type: "POST",
            url: "{% url 'get_calendar_events' %}",
            data: {
                'viewid': viewid,
            },
            success: function (response) {
                $('#content_records_calendar').html(response);
            },
            error: function (response) {
            }
        
        })
    }
</script>

<select class="form-select" aria-label="Default select example" onselect="loadEvents(this.value)">
  {% for field in select_fields %}
    <option value="{{ field.id }}">{{ field.description }}</option>
{% endfor %}
</select>

<script>
    var jsonEvents = [];

    {% for event in events %}

        {% if event.start is None and event.end is None %}
            allDay = true;

            start = "{{ event.date }}"
            end = "{{ event.date }}"


        {% else %}
            allDay = false;

            start = "{{ event.start }}"
            end = "{{ event.end }}"
            planneddate = "{{ event.date }}"




            startTimeParts = start.split(":");
            endTimeParts = end.split(":");


            startDate = new Date(planneddate);
            startDate.setHours(parseInt(startTimeParts[0], 10));
            startDate.setMinutes(parseInt(startTimeParts[1], 10));

            endDate = new Date(planneddate);
            endDate.setHours(parseInt(endTimeParts[0], 10));
            endDate.setMinutes(parseInt(endTimeParts[1], 10));


            formattedStartDate = startDate.toISOString().slice(0, 19)
            formattedEndDate = endDate.toISOString().slice(0, 19)

            start = formattedStartDate;
            end = formattedEndDate;



        {% endif %}


        jsonEvents.push({
            "title": "{{ event.description }}",
            "start": start,
            "end": end,
            "allDay": allDay,
            "recordid": "{{ event.recordid_ }}",
            //"calendarid": "{{ event.o365_idcalendar }}"
        });

    {% endfor %}




    var calendar = $('#calendar').fullCalendar({
        events: jsonEvents,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        aspectRatio: 2.1    ,
        eventClick: function (event) {
            open_record_calendar(event.recordid);

        },
        eventDrop: function (event, delta, revertFunc) {

        },


        eventRender: function (event, element) {

            // Customize event rendering to display only the event title
            element.find('.fc-title').html(event.title);
        },
    });


    function open_record_calendar(recordid) {
        var serialized_data = [];
        serialized_data.push({name: 'tableid', value: 'task'});
        serialized_data.push({name: 'recordid', value: recordid});
        serialized_data.push({name: 'contextfunction', value: 'edit'});

        $.ajax({
            type: "POST",
            url: "{% url 'block_record_card' %}",
            data: serialized_data,
            success: function (response) {

                $('#block-record-card-container').html(response);
            },
            error: function (response) {
            }
        });

    }


</script>


<style>
    .fc-title {
        font-weight: bold;
    }
</style>

<div id="content_records_calendar" style="width: 95%;">
    <div id="calendar"></div>
</div>









