<style>
    #block_records_table {
        height: 100%;
        width: 100%;
    }

    #results-head,
    #results-body,
    #results-row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #results-head {
        width: calc(100% - 1em);
    }

    #results-table {
        width: 100%;
        height: 100%;
    }

    #results-body {
        overflow: auto;
        max-height: calc(100% - 40px);
        height: 100%;
        width: 100%;
        display: block;
    }

    #pagination-container {
        height: 92%;
    }

        @media screen and (max-width: 1400px) {
        #pagination-container {
            height: 70%;
        }
    }


</style>

{% if table_type == 'linked' %}
  <style>

   .linked_container #block_records_table {
      border-collapse: collapse;
      width: 100%;
       height: 500px !important;
    }

  </style>
  <script>

  </script>
{% endif %}


<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/jq-pagination/js/jquery.jqpagination.min.js"></script>

<script>
    function modalShow() {
        $("#recordModal").load('http://127.0.0.1:8000/loading/');
        $("results-row").click(function(){
            if (screen.width <= min_width) {
              $("#recordModal").modal("show");
            }
          });
    }
</script>

  <style>
      td:hover {
          outline: #0a0a0a solid 1px;
      }

        .records-linked {
            cursor: pointer;
        }

        .records-standard {
            cursor: context-menu;
        }
  </style>

<div id="block_records_table" style="width: 100%;" data-type="{{ table_type }}">

    
    <div class="col s12 m6 l6" id="pagination-container">
        <table id="results-table">
            <thead id="results-head">
                <tr id="results-row">
                    {% for column in columns %}
                        {% if column.desc != 'recordid_' and column.desc != 'recordstatus_' and column.desc != 'recordcss_' %}
                            <th>{{column.desc}}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead id="results-head">
            <tbody id="results-body">
                {% for record in records %}
                    <tr id="results-row">
                        {% for column_value in record %}
                            {% if forloop.counter0 > 2 %}
                                {% if column_value.fieldtype == 'linked' %}

                                    <td onclick="open_record(this,'{{column_value.link_tableid}}','{{column_value.link_recordid}}')" class="records-linked" data-fieldtype="{{ column_value.fieldtype }}" style="font-weight: bold !important;">
                                    {{column_value.value}}
                                </td>
                                {% else %}
                                <td onclick="open_record(this,'{{tableid}}','{{record.0.value}}')" data-fieldtype="{{ column_value.fieldtype }}" class="records-standard">
                                    {{column_value.value}}
                                </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="pagination" id="my-pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" data-max-page="10" />
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>

<script>
	$(function() {
		$('#my-pagination').jqPagination({
			current_page: 1,
			max_page: 10,
			paged: function(page) {
                 $.ajax({
                type: "POST",
                crossDomain: true,
                url: "{% url 'pagination' %}",
                data: {
                    'page': page,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response)
                    reloadFunc();
                },
                error: function (response) {
                    console.log(response)
                    reloadFunc();
                }
            });
			}
		});
	});
</script>



    <style>
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #dc3545;
  border-radius: 5px;
  text-decoration: none;
  color: #dc3545;
}

.pagination a:hover {
  background-color: #dc3545;
  color: #fff;
}

.pagination .current {
  background-color: #dc3545;
  color: #fff;
}
    </style>
</div>