<style>
    #results-body {
        overflow-y: scroll;
        max-height: 100%;
    }

    #results-head,
    #results-body, #results-row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #results-head {
        width: calc(100% - 1em);
    }

    #results-table {
        width: 100%;
        height: 100%;
    }



</style>

<script>
    const myModalEl = document.getElementById('myModal')
myModalEl.addEventListener('hidden.bs.modal', event => {
    
})

    //alert('test');

    function modalShow() {
        $("#exampleModal").load('http://127.0.0.1:8000/loading/');
        $("results-row").click(function(){
            if (screen.width <= min_width) {
              $("#exampleModal").modal("show");
            }
          });
    }
    
</script>

<div id="block_records_table" style="height: 100%;width: 100%;">
    <div class="col s12 m6 l6" style="height: 100%; overflow-y:scroll;">
        <table id="results-table">
            <thead id="results-head">
                <tr id="results-row">
                    {% for column in columns %}
                        {% if column.desc != 'recordid_' and column.desc != 'recordstatus_' and column.desc != 'recordcss_' %}
                            <th>{{column.desc}}</th>
                        {% endif %}
                    {% endfor %}
                </tr>            
            </thead id="results-head">
            <tbody id="results-body">
                {% for record in records %}
                    <tr id="results-row">
                        {% for column_value in record %}
                            {% if forloop.counter0 > 2 %}
                                <td onclick="open_record('{{tableid}}','{{record.0}}')">
                                    {{column_value}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>

</div>