{% extends 'base_app.html' %}
{% load static %}
{% block body %}

    <script>
document.addEventListener("DOMContentLoaded", function() {
  var fullscreenBtn = $('#fullscreen-btn')[0];
  $('#fullscreen-btn')[0].click()
  

  fullscreenBtn.addEventListener('click', function() {
    var elem = document.documentElement;
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) { /* Firefox */
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE/Edge */
      elem.msRequestFullscreen();
    }
  });
});


    </script>

    <div id="bixdata-app-container" class="col-xs-12 col-xl-4" style="height: 100%; margin: auto">
    <button id="fullscreen-btn">Fullscreen</button>
        <nav class="navbar bg-body-tertiary shadow-sm">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" onclick="toggleCollapse()">
                <i class="mdi mdi-menu"></i>
              </button>
              <a class="navbar-brand" href="#"></a>
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="{% static 'images/users/' %}{{ username }}.png?v=" + time alt=""
                             class="rounded-circle">
                    </span>
                    <span>
                        <span class="user-hover">
                            <span class="account-user-name">{{ username }}</span>
                            <span class="account-position">{{ role }}</span>
                        </span>
                    </span>
                </a>
                <div
                        class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <a class="dropdown-item notify-item" onclick="get_account()">
                        <i class="mdi mdi-lifebuoy me-1"></i>

                        <span>Account</span>
                    </a>

                    <!-- item-->
                    <a onclick="get_settings()" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Settings</span>
                    </a>


                    <!-- item-->
                    <a class="dropdown-item notify-item" onclick="support('ticketbixdata')">
                        <i class="mdi mdi-lifebuoy me-1"></i>

                        <span>Support</span>
                    </a>


                    <script>
                        function support(tableid) {
                            $('#newRecordModal').modal('show');
                            var serialized_data = [];
                            serialized_data.push({name: 'tableid', value: tableid});
                            serialized_data.push({name: 'function', value: 'insert'});
                            serialized_data.push({name: 'http_response', value: true});
                            $.ajax({
                                type: "POST",
                                url: "{% url 'get_record_fields' %}",
                                data: serialized_data,
                                success: function (response) {
                                    $("#fullwidth_modal_newrecord").html(response);

                                },
                                error: function () {
                                    $("#bixdata_recordcard_container").html(response);
                                }
                            });


                        }
                    </script>


                    <script>
                        function openSupportModal() {
                            $('#supportModal').modal('show');
                        }
                    </script>

                    <!-- item-->
                    <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


               <ul class="side-nav">
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" onclick="" href="#sidebarFavoriteTables" aria-expanded="true"
                           aria-controls="sidebarFavoriteTables" class="side-nav-link">
                            <i class="uil-star"></i>
                            <span> Preferiti </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse show" id="sidebarFavoriteTables">
                            <ul class="side-nav-second-level">
                                {% for table in favorite_tables %}
                                 <li onclick="getContentRecords('{{ table.tableid }}')">
                                        <a class="side-nav-txt" onclick="toggleCollapse(); setColor(this)">{{ table.description }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                    <br>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" onclick="" href="#sidebarDashboards2" aria-expanded="false"
                           aria-controls="sidebarDashboards2" class="side-nav-link">
                            <i class="uil-dashboard"></i>
                            <span> Dashboard </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarDashboards2">
                            <ul class="side-nav-second-level">
                                {% for dashboard in active_dashboards %}
                                    <li onclick="getDashboard('{{ dashboard.id }}')">
                                        <a class="side-nav-txt" onclick="toggleCollapse(); setColor(this)">{{ dashboard.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

               <br>

                    <script>
                        function setColor(el) {
                            var els = document.querySelectorAll('.side-nav-txt');
                            els.forEach(function (el) {
                                el.classList.remove('sidenavitem-active');
                            });
                            el.classList.add('sidenavitem-active');
                        }

                        function closeCollapse(collapseId) {
                        var collapse = document.getElementById(collapseId);
                        var collapseInstance = new bootstrap.Collapse(collapse);
                        collapseInstance.hide();
                    }


                        var els = document.querySelectorAll('.side-nav-txt');
                        els.forEach(function (el) {
                            el.addEventListener('click', function () {
                                setColor(el);
                            });
                        });
                    </script>


                    </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>

            </div>
          </nav>





        <div id="bixdata_app" class="container-fluid" style="height: 100%; width: 100%; background-color: rgb(251 251 251) !important;">
            <div id="content_container" style="height: 95%; width: 100%; margin: auto"></div>
        </div>
    </div>


    <script>
     function getDashboard(dashboardid) {
        //$("#content_container").load('/loading/');
        $.ajax({
            type: "POST",
            crossDomain: true,
            data: {
                'size': 'small',
                'dashboard_id': dashboardid
            },
            url: "{% url 'dashboard' %}",
            success: function (response) {
                $("#content_container").html(response);
                $('[data-toggle="tooltip"]').tooltip();
            },
            error: function (response) {
                $("#content_container").html(response);
            }
        });
    }


    function support(tableid) {
        $('#newRecordModal').modal('show');
        var serialized_data = [];
        serialized_data.push({name: 'tableid', value: tableid});
        serialized_data.push({name: 'function', value: 'insert'});
        serialized_data.push({name: 'http_response', value: true});
        $.ajax({
            type: "POST",
            url: "{% url 'get_record_fields' %}",
            data: serialized_data,
            success: function (response) {
                $("#fullwidth_modal_newrecord").html(response);

            },
            error: function () {
                $("#bixdata_recordcard_container").html(response);
            }
        });
    }

    function get_settings() {
        //$("#content_container").load('/loading/');
        $.ajax({
            type: "POST",
            crossDomain: true,
            url: "{% url 'get_settings' %}",
            success: function (response) {
                $("#content_container").html(response);
                $('[data-toggle="tooltip"]').tooltip();
            },
            error: function (response) {
                $("#content_container").html(response);
            }
        });
    }

    function getContentRecords(tableid) {
        var serialized_data = [];
        //$("#content_container").load('/loading/');

        serialized_data.push({name: 'tableid', value: tableid});
        serialized_data.push({name: 'searchTerm', value: ''});
        $.ajax({
            type: "POST",
            crossDomain: true,
            url: "{% url 'content_records_app' %}",
            data: serialized_data,
            success: function (response) {
                $("#content_container").html(response);
                $('[data-toggle="tooltip"]').tooltip();
            },
            error: function (response) {
                $("#content_container").html(response);
            }
        });
    }

    function toggleCollapse() {

         $('#navbarSupportedContent').collapse('toggle');
    }

    </script>

    <style>
    .side-nav-link {
        padding: 0 !important;
        color: black !important;
    }

    .side-nav-txt {
        color: black !Important;
    }



    .nav-user {
        background-color: rgb(248, 249, 250, 1) !important;
        background-image: none !important;
        border: unset !important;
    }

    nav {
        padding: 0 !important;
    }



    </style>


{% endblock %}