{% load static %}

<script src="{% static 'js/autocomplete/bootstrap-autocomplete.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="
https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/jquery-ui/dist/themes/base/jquery-ui.min.css
" rel="stylesheet">

<div class="ui-widget">
  <label for="birds">Birds: </label>
  <input id="birds">
</div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
<script>
  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
    $( "#birds" ).autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'get_autocomplete_data' %}",
          data: {
             'term': request.term,
             'tableid': 'task',
             'mastertableid': 'company'
          },
          success: function(data) {
            response(data.data);
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value );
      }
    });
  });
</script>



<style>
  .ui-autocomplete-loading {
    background: white url("{% static 'images/users/admin.png'%}") right center no-repeat; width: 2px;
  }
  </style>