{% if userid == 53 or userid == 2 or userid == 47 %}
    <button id="save-order-button" onclick="save_order()" class="btn btn-success">Salva</button>
    <button class="btn btn-primary">Aggiungi</button>
    <select class="form-select" aria-label="Default select example">
    {% for block in block_list %}
        <option value="{{ block.id }}">{{ block.name }}</option>
    {% endfor %}
    </select>
    <button class="btn btn-primary" onclick="new_block()">Aggiungi blocco</button>
{% endif %}

<div style="width: 100%; height: 100%; overflow: scroll" class="grid-stack">

    {% for block in blocks %}
        <div class="grid-elements grid-elements" data-id="{{ block.id }}"
             style="display: none" gs-x="{{ block.gsx }}" gs-y="{{ block.gsy }}"
             gs-w="{{ block.gsw }}" gs-h="{{ block.gsh }}">
        <div class="grid-stack-item-content" style="background-color: white; padding: 10px;">
                        {{ block.html|safe }}

        </div>

        </div>

        <style>
        .grid-stack-item-content {
            overflow: hidden !important;
        }
        #results-body {
            overflow-x: hidden;
        }
        </style>

    {% endfor %}

    <script>

        function new_block() {
            var block_id = $('.form-select').val();
            alert(block_id)
            $.ajax({
                url: '/new_block/',
                type: 'POST',
                data: {
                    'block_id': block_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {

                    location.reload();

                }
            });
        }

        var options = {};
        var grid = GridStack.init(options);

        var count = 0;

        var cardBodies = document.getElementsByClassName("grid-elements");


        for (var i = 0; i < cardBodies.length; i++) {


            count = count + 4;


            grid.makeWidget(cardBodies[i]); // Make the element a widget within the grid
            //set the display to block
            cardBodies[i].style.display = "block";
            //make that them cant collide themselves
        }

                if ($('#my-pagination').length) {
            $('#my-pagination').remove();
        }

        function save_order() {
            var value_list = [];

            $('.grid-stack-item').each(function () {
                var gsX = parseInt($(this).attr('gs-x'), 10);
                var gsY = parseInt($(this).attr('gs-y'), 10);
                var gsW = parseInt($(this).attr('gs-w'), 10);
                var gsH = parseInt($(this).attr('gs-h'), 10);
                var id = parseInt($(this).attr('data-id'), 10);

                value_list.push({
                    'gsX': gsX,
                    'gsY': gsY,
                    'gsW': gsW,
                    'gsH': gsH,
                    'id': id,
                });
            });


            $.ajax({
                url: '/save_block_order/',
                type: 'POST',
                data: {
                    'value_list': JSON.stringify(value_list),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {

                    location.reload();

                }
            });
        }
    </script>


    <style>
        .no-padding .card-body {
            padding: 0;
        }

        @media only screen and (max-width: 1800px) {
            .card {

            }
        }
    </style>

</div>