<div style="width: 100.8%; height: 100%; overflow: scroll ">
    {% for block in blocks %}
        <div class="card no-padding" style="width: 30%; float: left; margin-right: 10px; margin-top: 0.2%">
            <div class="card-body">
                {{ block.html|safe }}
            </div>
        </div>

    {% endfor %}

    <style>
        .no-padding .card-body {
            padding: 0;
        }

        @media only screen and (max-width: 1800px) {
            .card {
                width: 44% !important;
            }
        }
    </style>

</div>