<script type="text/javascript">
    $("#tables").ready(function() {
</script>

<style>
    .filter-column {
        height: 50px;
    }


</style>





{% if layout_setting == 'modal' %}
<style>
#block-records-search-container {
    width: 100% !important;
}
</style>
{% endif %}



        <div class="modal fade" id="linked-table-modal" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%; z-index: 12000">
        <div class="modal-dialog modal-xl" style="width: 100%;">
            <div class="modal-content" style="width: 80%">
                <div class="modal-body" style="width: 100%">
                    <div id="linked-table-modal-content" class="col-xl-4 col-md-4 mb-4" style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

</script>




<div id="content-records"  style="height: 100%">
    <div class="row" style="width: 100%; height: 99%; margin-top: 1%">

        <!--Content tables start-->
        <div id="block-records-search-container" class="col-xl-8 col-md-8 mb-4" style="height: 100%;">
            <div id="content-table" class="card shadow mb-4" style="height: 100%;"> <!--card-->
                <div id="content-card" class="card-body" style="height: 100%;"> <!--card-body-->
                    <!-- Views -->
                    <!-- Views end -->
                    <!-- Filters start-->
                    <div id="filters">
                        <div class="text-center">
                            <div class="row">
                                <div class="col filter-column">

                                    <div>
                                        <select class="form-select" aria-label="Default select example" style="width: 20%; float: left">
                                            {% for view in views %}
                                          <option value="{{ view.id }}">{{ view.name }}</option>
                                            {% endfor %}
                                        </select>
                                            <input class="form-control me-2" type="search" placeholder="Ricerca" aria-label="Search" style="width: 50%; float: left" id="searchTerm" autocomplete="off" onkeydown="if(event.keyCode === 13) { event.preventDefault(); refresh(); }">
                                            <button class="btn btn-outline-danger" type="button" style=" float: left" onclick="refresh()">Cerca</button>

                                    </div>

                                    <button type="button" class="btn btn-outline-secondary" style=" margin-left: 1%; float: left" onclick="$('#hiddenCard').toggle(100);">Filtri</button>

                                </div>
                                <div class="col filter-column">


                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 3px; margin-right: 3px">
                                        <button class="btn btn-outline-danger me-md-2" type="button" onclick="refresh()">Ricarica</button>
                                        <button class="btn btn-outline-danger me-md-2" type="button" onclick="newRecord()">Nuovo</button>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary me md-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Esporta
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Esporta dati excel</a></li>
                                                <li><a class="dropdown-item" href="#">Esporta elenco</a></li>
                                                <li><a class="dropdown-item" href="#">Esporta migrazione</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div id="hiddenCard" style="display: none;">
                            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="margin-left: 30px;margin-right: 30px;">
                                <p class="card-text">

                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col">

                                            <div>
                                                <form class=" d-flex" role="search">
                                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                            </div>
                                            </form>

                                        </div>
                                        <div class="col">

                                            <div>
                                                <form class="d-flex" role="search">
                                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                            </div>
                                            </form>

                                        </div>
                                        <div class="col">

                                            <div>
                                                <form class="d-flex" role="search">
                                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                            </div>
                                            </form>

                                        </div>
                                        <div class="col">

                                            <div>
                                                <form class="d-flex" role="search">
                                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                            </div>
                                            </form>

                                        </div>

                                        <div class="col">
                                            <button type="button" class="btn btn-outline-secondary" onclick="$('#hiddenCardAF').toggle(100);">Filtri Avanzati</button>
                                            </br>
                                        </div>



                                    </div>
                                </div>

                                </p>
                            </div>

                            <div id="hiddenCardAF" style="display: none; margin-top: -40px">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="margin-left: 30px;margin-right: 30px;">
                                    <div class="card-body">

                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">

                                                    <label for="birthday">inserisci una data</label>
                                                    <input type="date" id="birthday" name="birthday">

                                                </div>
                                                <div class="col">

                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                                        <select class="form-select" id="inputGroupSelect01">
                                                            <option selected>Choose...</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>






                        </div>



                    </div>
                    <!-- Filters end-->

                    <script>
                        function underConstruction(el) {
                            $.ajax({
                                url: "{% url 'under_construction' %}",
                                type: "GET",
                                success: function(data) {
                                    $(el).html(data);
                                }
                            });
                        }
                    </script>



                    <!-- Results start-->
                    <div id="result-tabs" style="height: 92%">
                        <!-- Nav menu start -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tutti-tab" data-bs-toggle="tab" data-bs-target="#records_table_container" type="button" role="tab" aria-controls="records_table_container" aria-selected="true">Tabella</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button onclick="underConstruction('#chart-tab-pane')" class="nav-link" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart-tab-pane" type="button" role="tab" aria-controls="chart-tab-pane" href="chart" aria-selected="false">Grafico</button>
                            </li>
                            <li id="nav-calendar" class="nav-item" role="presentation">
                                <button onclick="underConstruction('#calendar-tab-pane')" class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar-tab-pane" type="button" role="tab" aria-controls="calendar-tab-pane" href="#calendar" aria-selected="false">Calendario</button>
                            </li>
                            <li id="nav-kanban" class="nav-item" role="presentation">
                                <button onclick="underConstruction('#kanban-tab-pane')" class="nav-link" id="kanban-tab" data-bs-toggle="tab" data-bs-target="#kanban-tab-pane" type="button" role="tab" aria-controls="kanban-tab-pane" href="#kanban" aria-selected="false">Kanban</button>
                            </li>
                            <li id="nav-gantt" class="nav-item" role="presentation">
                                <button onclick="underConstruction('#gantt-tab-pane')" class="nav-link" id="gantt-tab" data-bs-toggle="tab" data-bs-target="#gantt-tab-pane" type="button" role="tab" aria-controls="gantt-tab-pane" href="#gantt" aria-selected="false">Gantt</button>
                            </li>
                        </ul>
                        <!-- Nav menu end -->
                        <!-- Nav content start-->
                        <div class="tab-content" id="myTabContent" style="height: 100%">
                            <div class="tab-pane fade show active" id="records_table_container" role="tabpanel" aria-labelledby="tutti-tab" tabindex="0" style="height: 100%;overflow: hidden;">
                                {{records_table}}




                            </div>

                            <div class="tab-pane fade" id="report-tab-pane" style="height: 100%; width: 100%" role="tabpanel" aria-labelledby="report-tab" tabindex="0">




                            </div>

                            <div class="tab-pane fade " id="chart-tab-pane" role="tabpanel" aria-labelledby="chart-tab" tabindex="0" style="overflow: hidden">






                            </div>

                            <div class="tab-pane fade " id="calendar-tab-pane" role="tabpanel" aria-labelledby="calendar-tab" tabindex="0" style="overflow: hidden">






                            </div>

                            <div class="tab-pane fade" id="kanban-tab-pane" role="tabpanel" aria-labelledby="kanban-tab" tabindex="0">

                            </div>

                            <div class="tab-pane fade" id="gantt-tab-pane" role="tabpanel" aria-labelledby="tutti-tab" tabindex="0" style="height: 100%;overflow-x: scroll; overflow-y: scroll">

                            </div>


                        </div>
                    </div>
                    <!-- nav content end-->
                </div>
                <!-- Results end-->

            </div>
        </div>

        <div id="block-record-card-container" class="col-xl-4 col-md-4 mb-4" style="height: 100%">

        </div>

    </div>
</div>
