{% extends 'base.html' %}
{% load static %}

{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


    <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>




    <script type="text/javascript">

    //alert si apre con il doppio click sulla task
        $("#gantt").ready(function() {
            $(function(){
                var tasks = '{{records_json|safe}}'
                tasks=jQuery.parseJSON(tasks)
                // Get the Gantt task elements
                var gantt = new Gantt('#tasks-gantt',tasks, {
                    //Add click event listener to tasks
                    on_click: function(task) {
                        alert("Task: " + task.name);
                    }
                });
            });
        });

    </script>

        <style>
            .gantt-container {
                width: 100%;
                overflow-x: hidden;
            }
        </style>

    <div id="#content_records_gantt" style="height: 100%;width: 100%;">

        <div id="gantt" class="container-fluid" style="width: 100%">

            <!-- start page title -->
            <!-- end page title -->

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- gantt view -->
                        <div class="col-xxl-9 mt-4 mt-xl-0 col-lg-8">
                            <div class="ps-xl-3">
                                <div class="row">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mt-3">
                                        <svg id="tasks-gantt"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end gantt view -->
                    </div>
                </div>
            </div>

        </div> <!-- container -->
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}
