<!-- dragula js-->



<!--Demo
<script src="assets/js/ui/component.dragula.js"></script>
-->
{% extends 'base.html' %}
{% load static %}

{% block body %}


<div>
  <canvas id="myChart"></canvas>
</div>

<div>
  <canvas id="myChart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


    <script>const ctx = document.getElementById('myChart2');

  new Chart(ctx, {
    type: 'pie',
    data: {
   labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: ['Red', 'Blue', 'Yellow'],
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });



    </script>







{% endblock %}

