<form method="post" action="{% url 'save_chart_settings' %}" class="container text-center" style="float: left">
<div class="container text-center card card-body" style="margin-top: 2%">
    <h3>Aggiorna dashboard degli utenti</h3>
    {% csrf_token %}
    <div class="row">

        {% for item in context.userids %}
        <div class="flex-fill" style="display: none">
          <input type="text" name="userids[]" hidden value="{{ item }}">
        </div>
        {% endfor %}

        <div class="col-md-2 d-flex flex-column">
            <h4>User Names</h4>
            {% for item in context.names %}
            <div class="flex-fill">
              <input type="text" name="names[]" disabled value="{{ item }}">
            </div>
            {% endfor %}
          </div>
      <div class="col-md-2 d-flex flex-column">
        <h4>Dashboard id</h4>
        {% for item in context.dashboardids %}
        <div class="flex-fill">
          <input type="text" name="dashboardids[]" value="{{ item }}">
        </div>
        {% endfor %}
      </div>
    </div>

</div>


<div class="container text-center card card-body" style="margin-top: 2%" style="float: left">
    <h3>Aggiorna dashboard dei grafici</h3>
    {% csrf_token %}
    <div class="row">

            {% for item in context.chart_names %}
            <div class="flex-fill" style="display: none">
              <input style="width: 100%" type="text" name="chartnames[]" hidden value="{{ item }}">
            </div>
            {% endfor %}

            <div class="col-md-4 d-flex flex-column">
            <h4>Chart Names</h4>
            {% for item in context.chart_names %}
            <div class="flex-fill">
              <input style="width: 100%" type="text" disabled value="{{ item }}">
            </div>
            {% endfor %}
          </div>

        <div class="col-md-2 d-flex flex-column">
            <h4>Dashboard id</h4>
            {% for item in context.chart_dashboard_id %}
            <div class="flex-fill">
              <input type="text" name="chartdashboardids[]" value="{{ item }}">
            </div>
            {% endfor %}
          </div>
    </div>
</div>
    <button style="float: right" type="submit" class="btn btn-primary">Salva</button>
  </form>

<div class="container text-center card card-body" style="margin-top: 2%">
    <h4>Aggiungi</h4>
        <div class="row">

            <div class="col-md-4 d-flex flex-column">
            <h4>Chart Names</h4>
            <div class="flex-fill">
              <input style="width: 100%" type="text">
            </div>
            </div>

        <div class="col-md-4 d-flex flex-column">
            <h4>Chart Names</h4>
            <div class="flex-fill">
              <input style="width: 100%" type="text">
            </div>
            </div>


            <div class="col-md-4 d-flex flex-column">
            <h4>View names</h4>
                <select class="form-select" aria-label="Default select example">
                {% for item in context.views %}
                  <option value="{{ item.id }}">{{ item.name }} - {{ item.tableid }}</option>
                {% endfor %}
                </select>
            </div>

        <div class="col-md-4 d-flex flex-column">
            <h4>Report names</h4>
                <select class="form-select" aria-label="Default select example">
                {% for item in context.reports %}
                  <option value="{{ item.id }}">{{ item.name }} - {{ item.tableid }}</option>
                {% endfor %}
                </select>
            </div>


    </div>
</div>
<button style="float: right" type="submit" class="btn btn-primary">Salva</button>


<div class="container text-center card card-body" style="margin-top: 2%">
    <h4>Nuovo grafico</h4>
</div>