<style>
    .table-button {
        width: 20%;
        text-align: left;
        margin-bottom: 5px;
    }
</style>

<script>


    function getUserTablesList(userid)
    {
        $("#settings_table_user_tables").html('Loading');
        var serialized_data = [];
        serialized_data.push({ name: 'userid', value: userid });
        $.ajax({
            type: "POST",
            crossDomain: true,
            url: "{% url 'settings_table_user_tables' %}",
            data: serialized_data,
            success: function (response) {
                $("#settings_table_user_tables").html(response);
            },
            error: function () {
                $("#settings_table_user_tables").html(response);
            }
        });
    }

function saveTableSettings(el) {

    updateOrder();

    var serialized_data = []
    var orderArray = [];

    $('.drag-item').each(function () {

            var workspace = $(this).attr('data-workspace');


            var tables = [];


            $(this).find('.drag-item2').each(function () {
                if ($(this).find('.checkbox').is(':checked')) {
                    var tableid = $(this).attr('data-tableid');
                    tables.push(tableid);
                }
            });
        orderArray.push({workspace: workspace, tables: tables});
    });

    orderArray = JSON.stringify(orderArray);
    console.info(orderArray)
    serialized_data.push({ name: 'tables', value: orderArray });
    $.ajax({
        type: "POST",
        url: "{% url 'save_table_settings' %}",
        data: serialized_data,
        success: function (response) {
            swal({
                title: "Impostazioni salvate",
                text: "Le impostazioni sono state salvate correttamente",
                icon: "success",
                timer: 800,
                buttons: false,
            })
            $("#table_options").html(response);
        },
        error: function () {
        }
    });
}

function columnSearchResults() {

    var tableid = $('#table_settings_menu').attr('data-tableid');
    var userid = $('#user_username').attr('data-userid');

    $.ajax({
        type: "POST",
        url: "{% url 'column_search_results' %}",
        data: {tableid: tableid, userid: userid},
        success: function (response) {
            $("#settings_col4").css('display', 'block');
            $("#results-column-container").html(response);
        },
        error: function () {
        }
    });
}

function saveTableSettingsOptions() {
    updateOrder()
    var orderArray = []
    $('#settings_block_user_tables_settings').find('.drag-item2').each(function () {
        if ($(this).find('.checkbox').is(':checked')) {
            var tableid = $(this).find('.settings_block_user_tables_fieldid').text();
            orderArray.push(tableid);
        }
    });

    orderArray = JSON.stringify(orderArray);
    console.info(orderArray)

    $.ajax({
        type: "POST",
        url: "{% url 'settings_table_save_table_settings_options' %}",
        data: {orderArray: orderArray},
        success: function (response) {
            swal({
                title: "Impostazioni salvate",
                text: "Le impostazioni sono state salvate correttamente",
                icon: "success",
                timer: 800,
                buttons: false,
            })
        },
        error: function () {
        }
    });
}


</script>

<div id="settings_table" style="height: 100%;">
    <div id="settings_table_users" style="width: 20%;float: left;">
        Utenti <br/>
        {% for user in users %}
            <button class="btn btn-secondary table-button"onclick="getUserTablesList('{{ user.id }}'); $('#user_username').val('{{ user.username }}'); $('#user_username').attr('data-userid', '{{ user.id }}')">{{ user.username }}</button>
            <br>
        {% endfor %}
        <input type="text" disabled id="user_username" value="">
    </div>
    <div id="settings_table_user_tables" style="width: 20%;float: left; height: 100%">

    </div>

    <div id="table_settings_menu" style="height: 100%; float: left; display: none">
        <button class="btn btn-secondary" onclick="columnSearchResults()">Campi risultati ricerca</button><br/>
        <button class="btn btn-secondary" onclick="columnSearchResults()">Campi inserimento</button><br/>
        <button class="btn btn-secondary" onclick="columnSearchResults()">Campi visualizzazione</button>
    </div>

    <div id="settings_col4" style="height: 100%; width: 20%;  float: left; display: none">
        <button class="btn btn-primary" onclick="saveTableSettingsOptions()">Salva</button>
        <div id="results-column-container"style="height: 100%; overflow: scroll">

        </div>
    </div>

    <div id="table_settings_menu_options" style="height: 100%; float:left">

    </div>

</div>




