<div style="overflow:scroll; height: 100%">

    <div class="container text-center card card-body" style="margin-top: 2%; float: left">
        <h3>Nuova dashboard</h3>
        {% csrf_token %}
        <div class="container text-center card card-body" style="margin-top: 2%">
            <h4>Nuova dashboard</h4>
            <form method="post" action="{% url 'new_dashboard' %}" class="container text-center" style="float: left">
                <label for="dashboard-name">Nome Dashboard</label>
                <input type="text" name="dashboard-name">
                <button style="float: right" type="submit" class="btn btn-primary">Salva</button>
            </form>
        </div>
    </div>


    <div class="container text-center card card-body" style="margin-top: 2%" style="float: left; height: 20%">
        <h3>Aggiorna dashboard degli utenti</h3>
        {% csrf_token %}
        <div class="container text-center card card-body" style="margin-top: 2%; height: 100%; overflow:scroll ">
            <form method="post" action="{% url 'save_users_dashboards' %}" class="container text-center" style="float: left">
                {% for user in context.users %}
                    <h4>{{ user.username }}</h4>
                    {% for user_dashboard in user.dashboards %}
                        {% if user_dashboard.visible == True %}
                            {{ user_dashboard.name }}
                            <input type="checkbox" name="{{ user_dashboard.name }}-{{ user.sys_user_id }}" value="{{ user_dashboard.id }}" checked>
                        {% else %}
                            {{ user_dashboard.name }}
                            <input type="checkbox" name="{{ user_dashboard.name }}-{{ user.sys_user_id }}" value="{{ user_dashboard.id }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <br>
                <button style="float: right" type="submit" class="btn btn-primary">Salva</button>
            </form>
        </div>
    </div>



<div class="container text-center card card-body" style="margin-top: 2%">
    <h4>Aggiungi dashboard block</h4>
    <select id="table-select" class="form-select" aria-label="Default select example" name="tableid-form-block">
        <option selected></option>
            {% for table in context.tables %}
                <option value="{{ table.id }}">{{ table.id }}</option>
            {% endfor %}
    </select>
    <button style="width: 10%; float: right" class="btn btn-secondary" type="button" onclick="select_table()">Seleziona</button>

    <form method="post" action="{% url 'new_chart_block' %}" class="container text-center" style="float: left">

        <div class="row">


            <div class="col-md-4 d-flex flex-column">
                <h4>Nome blocco</h4>
                <div class="flex-fill">
                    <input name="block_name" style="width: 100%" type="text">
                </div>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>View name</h4>
                <select class="form-select build-form" aria-label="Default select example" name="view_id">
                    <option selected></option>
                        {% for item in context.views|dictsort:"name" %}
                            <option data-tableid="{{ item.tableid }}" value="{{ item.id }}">{{ item.name }}
                                - {{ item.tableid }}</option>
                        {% endfor %}
                </select>
            </div>

            <div class="col-md-4 d-flex flex-column">
                <h4>Report name</h4>
                <select class="form-select build-form" aria-label="Default select example" name="report_id">
                    <option selected></option>
                        {% for item in context.reports|dictsort:"name" %}
                            <option data-tableid="{{ item.tableid }}" value="{{ item.id }}">{{ item.name }}
                                - {{ item.tableid }}</option>
                        {% endfor %}
                </select>
            </div>


        </div>

        <button style="float: right" type="submit" class="btn btn-primary">Salva</button>

    </form>
</div>


<div class="container text-center card card-body" style="margin-top: 2%">

    <h4>Nuovo Report</h4>

    <form method="post" action="{% url 'new_report' %}" class="container text-center" style="float: left">

        <div class="row">

            <div class="col-md-4 d-flex flex-column">
                <h4>Tableid</h4>
                <select class="form-select" id="table-select-report" aria-label="Default select example" name="tableid">
                    <option selected></option>
                    {% for table in context.tables %}
                        <option value="{{ table.id }}">{{ table.id }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-secondary" type="button" onclick="select_table_report()">Seleziona</button>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>Nome report</h4>
                <div class="flex-fill">
                    <input style="width: 100%" type="text" name="report_name">
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column">
                <h4>Fieldid</h4>
                <select class="form-select build-form-report" aria-label="Default select example" name="fieldid">
                    <option selected></option>
                    {% for field in context.fields|dictsort:"fieldid" %}
                        <option data-tableid="{{ field.tableid }}" value="{{ field.fieldid }}">{{ field.fieldid }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>Operation</h4>
                <select class="form-select" aria-label="Default select example" name="operation">
                    <option value="somma">sum</option>
                    <option value="media">avg</option>
                    <option value="conteggio">count</option>
                </select>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>Layout</h4>
                <select class="form-select" aria-label="Default select example" name="layout">
                    <option value="barchart">column</option>
                    <option value="linechart">line</option>
                    <option value="piechart">pie</option>
                    <option value="table">table</option>
                </select>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>Group by</h4>
                <div class="flex-fill">
                    <input style="width: 100%" type="text" name="groupby">
                </div>
            </div>


        </div>

    <button style="float: right" type="submit" class="btn btn-primary">Salva</button>
    </form>


</div>


<div class="container text-center card card-body" style="margin-top: 2%">

    <h4>Nuova View </h4>

    <form method="post" action="{% url 'new_view' %}" class="container text-center" style="float: left">

        <div class="row">

            <div class="col-md-4 d-flex flex-column">
                <h4>Tableid</h4>
                <select class="form-select" id="table-select-report" aria-label="Default select example" name="tableid">
                    <option selected></option>
                    {% for table in context.tables %}
                        <option value="{{ table.id }}">{{ table.id }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-secondary" type="button" onclick="select_table_report()">Seleziona</button>
            </div>


            <div class="col-md-4 d-flex flex-column">
                <h4>Nome view</h4>
                <div class="flex-fill">
                    <input style="width: 100%" type="text" name="view_name">
                </div>
            </div>




            <div class="col-md-4 d-flex flex-column">
                <h4>Query conditions</h4>
                <div class="flex-fill">
                    <textarea style="width: 100%"  name="query_conditions"></textarea>
                </div>
            </div>


        </div>

    <button style="float: right" type="submit" class="btn btn-primary">Salva</button>
    </form>


</div>



</div>


<script>

    function select_table_report() {
        var selected_table = $('#table-select-report').val()
        $('.build-form-report').each(function () {
            $(this).children().each(function () {
                if ($(this).data('tableid') == selected_table) {
                    $(this).show()
                } else {
                    $(this).hide()
                }
            })
        })
    }


    function select_table() {
        var selected_table = $('#table-select').val()
        $('.build-form').each(function () {
            $(this).children().each(function () {
                if ($(this).data('tableid') == selected_table) {
                    $(this).show()
                } else {
                    $(this).hide()
                }
            })
        })
    }
</script>