<style>
    .drag-item2 {
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }

    #status {
        all: unset;
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }


    .drag-item.hidden {
        background-color: #f2f2f2;
    }

    .btn-toggle {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btn-save {
        margin-top: 10px;
    }

    .drag-item {
        border: 1px solid red;
    }
</style>


<script>
    $(document).ready(function () {
  dragula([document.querySelector('#settings_block_user_tables')], {
    moves: function(el, container, handle) {
      return !handle.classList.contains('drag-item2');
    }
  });

  dragula([].slice.apply(document.querySelectorAll('.drag-item')), {
    direction: 'horizontal'
  });

    });


    function updateOrder() {
        var fieldElements = $('.drag-item2');
        fieldElements.each(function (index) {
            $(this).attr('data-order', index + 1);
        });
    }

    updateOrder();  

    function settingsTableAdmin() {
        var tableid = $(this).closest('.drag-item2').text();

        $.ajax({
            url: "{% url 'settings_table_admin' %}",
            type: 'POST',
            data: {
                'tableid': tableid,
            },
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>


<!--
    tables.selected: list di tutte le tabelle selezionate e visibili all'utente
    tables.notselected: list di tutte le tabelle non selezionate dall'utente

    CAMPI di table
    id: id della tabella
    description: nome di descrizione della tabella
    order: numero dell'ordinamento (le tabelle selezionate arrivano già ordinate)



    workspaces: dict con elencati i workspace
        workspaces.name: nome del workspace
        workspace.tables: dict con le tabelle che fanno parte del workspace
            workspace.table.id: identificativo della tabella
            workspace.table.description: nome descrittivo della tabella
            workspace.table.order: numero dell'ordinamento(le tabelle arrivano già ordinate). In caso in cui sia "None" vuol dire che la tabella non è selezionata
-->

    <button type="button" class="btn btn-primary" onclick="saveTableSettings()">Salva</button>


<div id="settings_block_user_tables" style="height: 95%; overflow: scroll">
    <div id="" class="drag-item">
            {% for row in tables.selected %}
                 <div data-order="{{ row.order }}" data-tableid="{{ row.id }}" class="drag-item2">
                  <input class="form-check-input mt-0" type="checkbox" checked value="" aria-label="Checkbox for following text input">
                    <p>{{row.workspace}}: {{row.description}}</p>
                        <button class="btn btn-secondary" onclick="settingsTableAdmin()">Impostazioni</button>
                 </div>
            {% endfor %}
    </div>
    <div id="" class="drag-item">
            {% for row in tables.notselected %}
                 <div data-tableid="{{ row.id }}" data-order="{{ row.order }}" class="drag-item2">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                    <p>{{row.workspace}}: {{row.description}}</p>
                        <button class="btn btn-secondary" onclick="settingsTableAdmin()">Impostazioni</button>
                </div>
            {% endfor %}
    </div>

    </div>



