<script>


    function getUserTablesList(userid)
    {
        $("#settings_tables_list").html('Loading');
        var serialized_data = [];
        serialized_data.push({ name: 'userid', value: userid });
        $.ajax({
            type: "POST",
            crossDomain: true,
            url: "{% url 'user_tables_list' %}",
            data: serialized_data,
            success: function (response) {
                alert('ok')
                $("#settings_tables_list").html(response);
            },
            error: function () {
                $("#content_container").html(response);
            }
        });
    }
</script>

<div id="settings_users_list">
    Utenti <br/>
    {% for user in users %}
        <button class="btn btn-secondary table-button" onclick="getUserTablesList('{{ user.id }}')">{{ user.username }}</button>
        <br>
    {% endfor %}
</div>
<div id="settings_tables_list">
    
</div>

