<div id="new-field-form" class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <label for="new-field-id" class="form-label">ID</label>
            <input type="text" class="form-control" id="new-field-id" placeholder="ID">
        </div>
        <div class="col-md-3">
            <label for="new-field-description" class="form-label">Descrizione</label>
            <input type="text" class="form-control" id="new-field-description" placeholder="Descrizione">
        </div>
        <div class="col-md-3">
            <label for="new-field-type" class="form-label">Select</label>
            <select class="form-select" id="new-field-type" onchange="newFieldLinkedTable(this.value)">
                <option value="parola">Parola</option>
                <option value="numero">Numero</option>
                <option value="linked">Linked</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" onclick="newTableField()">Salva</button>
        </div>
    </div>

    <div id="linked-container-newfield" style="display:none">
         <select class="form-select" id="field-linked-table" onchange="selectedLinkedTable(this.value)">
            {% for table in tables %}
                <option value="{{ table.id }}">{{ table.description }}</option>
            {% endfor %}
         </select>
    </div>

</div>
<br>

<div id="settings_block_usertables_settings" class="drag-elements-container" style="height: 95%; overflow: scroll">
    <div class="drag-item">
        {% for field in fields %}
            <div class="drag-item2">
                <p class="settings_block_usertables_fieldid" data-fieldid-word="{{ field.fieldid }}"
                   data-fieldid="{{ field.id }}">{{ field.description }} ({{ field.fieldid }})</p>
                <button class="btn btn-secondary" onclick="settingsFieldsSettings('{{ field.fieldid }}', $('#selected-fieldid').val('{{ field.fieldid }}'))">Impostazioni
                </button>
            </div>
        {% endfor %}
    </div>
</div>

<input type="hidden" id="selected-fieldid" value="">

<script>

    function selectedLinkedTable(tableid) {
        $.ajax({
            type: "POST",
            data: {
                'tableid': tableid
            },
            url: "{% url 'settings_table_fields_linked_table' %}",
            success: function (response) {
                $('#fields_table_settings').html(response);
            },
            error: function () {
            }
        })
    }

    function newFieldLinkedTable(fieldtype) {
        if (fieldtype == 'linked') {
            $('#linked-container-newfield').show();
        } else {
            $('#linked-container-newfield').hide();
        }
    }

    function settingsFieldsSettings(fieldid) {
        tableid = $('#table_settings_menu').data('tableid');
        var userid = $('#user_username').attr('data-userid');
        $.ajax({
            type: "POST",
            data: {
                'fieldid': fieldid,
                'tableid': tableid,
                'userid': userid
            },
            url: "{% url 'settings_table_fields_settings_block' %}",
            success: function (response) {
                $('#fields_table_settings').html(response);
            },
            error: function () {
            }
        });
    }

    function newTableField() {
        serialized_data = {
            'fieldid': $('#new-field-id').val(),
            'fielddescription': $('#new-field-description').val(),
            'fieldtype': $('#new-field-type').val(),
            'tableid': $('#table_settings_menu').data('tableid'),
            'userid': $('#user_username').data('userid')
        }

        if ($('#new-field-type').val() == 'linked') {
            serialized_data['linkedtable'] = $('#field-linked-table').val();

            var linkedTableFields = []
            $('.linked-table-fields').each(function () {
                if ($(this).siblings('.checkbox').is(':checked')) {
                    linkedTableFields.push($(this).data('fieldid'));
                }
            });
            serialized_data['linkedtablefields'] = linkedTableFields;
        }

        console.info(serialized_data);

        serialized_data = JSON.stringify(serialized_data);

        $.ajax({
            type: "POST",
            data: {
                'serialized_data': serialized_data
            },
            url: "{% url 'settings_table_fields_new_field' %}",
            success: function (response) {
                $('#fields_table_settings').html(response);
            },
            error: function () {
            }
        });




    }
</script>
