<style>
    .drag-item2 {
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }

    #status {
        all: unset;
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }


    .drag-item.hidden {
        background-color: #f2f2f2;
    }

    .btn-toggle {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btn-save {
        margin-top: 10px;
    }
</style>


<script>
    $(document).ready(function () {
        var drake;
        var tsi_id = [];

        $(".drag-item").each(function () {
            tsi_id.push(this);
        });

        drake = dragula(tsi_id);
        drake.on('drop', function (el, target) {
            updateOrder();
        });
    });


    function updateOrder() {
        var fieldElements = $('.drag-item2');
        fieldElements.each(function (index) {
            $(this).attr('data-order', index);
        });
    }

    function settingsTableAdmin() {
        var tableid = $(this).closest('.drag-item2').text();

        $.ajax({
            url: '{% url 'settings_table_admin' %}',
            type: 'POST',
            data: {
                'tableid': tableid,
            },
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>


<!--
    tables.selected: list di tutte le tabelle selezionate e visibili all'utente
    tables.notselected: list di tutte le tabelle non selezionate dall'utente

    CAMPI di table
    id: id della tabella
    description: nome di descrizione della tabella
    order: numero dell'ordinamento (le tabelle selezionate arrivano già ordinate)
-->
<div id="settings_block_user_tables" style="height: 90%;overflow: scroll;">
    <div id="" class="drag-item">

            {% for row in tables.selected %}
                 <div data-order="{{ forloop.counter }}" class="drag-item2">
                    <li>{{row.id}}: {{row.description}} {{row.order}}</li>
                     <button class="btn btn-secondary" onclick="settingsTableAdmin()">Impostazioni</button>
                    <input class="form-check-input mt-0" type="checkbox" checked value="" aria-label="Checkbox for following text input">
                 </div>
            {% endfor %}

            {% for row in tables.notselected %}
                 <div data-order="{{ forloop.counter}}" class="drag-item2">
                    <li>{{row.id}}: {{row.description}} {{row.order}}</li>
                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                </div>
            {% endfor %}

    </div>
</div>


