Campi
<br>
<button class="btn btn-secondary fields-button" onclick="tableSettingsSettings()">Impostazioni tabella</button>
<br/>
<button class="btn btn-secondary fields-button" onclick="fieldsSettingsSettings()">Impostazioni campi</button>
<br/>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('linked_columns')">Colonne in tabelle collegate
</button>
<br/>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('search_results_fields')">Campi
    risultati ricerca
</button>
<br/>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('insert_fields')">Campi inserimento
</button>
<br/>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('search_fields')">Campi ricerca</button>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('view_fields')">Campi visualizzazione
</button>
<button class="btn btn-secondary fields-button" onclick="setFieldsOrder('badge_fields')">Campi badge</button>
<button class="btn btn-secondary fields-button" onclick="setKanbanFields()">Campi kanban</button>