<style>
    .table-button {
        width: 20%;
        text-align: left;
        margin-bottom: 5px;
    }
</style>

<script>


    function getUserTablesList(userid)
    {
        $("#settings_table_user_tables").html('Loading');
        var serialized_data = [];
        serialized_data.push({ name: 'userid', value: userid });
        $.ajax({
            type: "POST",
            crossDomain: true,
            url: "{% url 'settings_table_user_tables' %}",
            data: serialized_data,
            success: function (response) {
                $("#settings_table_user_tables").html(response);
            },
            error: function () {
                $("#settings_table_user_tables").html(response);
            }
        });
    }

function saveTableSettings(el) {

    updateOrder();

    var serialized_data = []
    var orderArray = [];

    $('.drag-item').each(function () {

            var workspace = $(this).attr('data-workspace');


            var tables = [];


            $(this).find('.drag-item2').each(function () {
                if ($(this).find('.checkbox').is(':checked')) {
                    var tableid = $(this).attr('data-tableid');
                    tables.push(tableid);
                }
            });
        orderArray.push({workspace: workspace, tables: tables});
    });

    orderArray = JSON.stringify(orderArray);
    console.info(orderArray)
    serialized_data.push({ name: 'tables', value: orderArray });
    $.ajax({
        type: "POST",
        url: "{% url 'settings_table_user_tables' %}",
        data: serialized_data,
        success: function (response) {
            swal({
                title: "Impostazioni salvate",
                text: "Le impostazioni sono state salvate correttamente",
                icon: "success",
                timer: 800,
                buttons: false,
            })
            $("#table_options").html(response);
        },
        error: function () {
        }
    });
}


</script>

<div id="settings_table" style="height: 100%;">
    <div id="settings_table_users" style="width: 20%;float: left;">
        Utenti <br/>
        {% for user in users %}
            <button class="btn btn-secondary table-button" onclick="getUserTablesList('{{ user.id }}')">{{ user.username }}</button>
            <br>
        {% endfor %}
    </div>
    <div id="settings_table_user_tables" style="width: 20%;float: left; height: 100%">
        
    </div>

    <div id="table_options">

    </div>
</div>




