<style>
    .drag-item2 {
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }

    #status {
        all: unset;
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
        justify-content: space-between;
        background-color: white;
    }


    .drag-item.hidden {
        background-color: #f2f2f2;
    }

    .btn-toggle {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btn-save {
        margin-top: 10px;
    }

</style>


<script>

    (function() {
        var drake = dragula([document.querySelector('.drag-elements-container')], {
            moves: function (el, container, handle) {
                return !handle.classList.contains('drag-item2');
            }
        });

        dragula([].slice.apply(document.querySelectorAll('.drag-item')), {
            direction: 'vertical'
        });
    })();



    function updateOrder() {
        var fieldElements = $('.drag-item2');
        fieldElements.each(function (index) {
            $(this).attr('data-order', index + 1);
        });

        var fieldElementsWs = $('.drag-item');
        fieldElementsWs.each(function (index) {
            $(this).attr('data-order', index + 1);
        });
    }

    function settingsTableAdmin(el) {

        var tableid = $(el).find('.drag-item2-tableid').text();
        console.log(tableid);

        $.ajax({
            url: "{% url 'settings_table_admin' %}",
            type: 'POST',
            data: {
                'tableid': tableid,
            },
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>


<!--
    tables.selected: list di tutte le tabelle selezionate e visibili all'utente
    tables.notselected: list di tutte le tabelle non selezionate dall'utente

    CAMPI di table
    id: id della tabella
    description: nome di descrizione della tabella
    order: numero dell'ordinamento (le tabelle selezionate arrivano già ordinate)



    workspaces: dict con elencati i workspace
        workspaces.name: nome del workspace
        workspace.tables: dict con le tabelle che fanno parte del workspace
            workspace.table.id: identificativo della tabella
            workspace.table.description: nome descrittivo della tabella
            workspace.table.order: numero dell'ordinamento(le tabelle arrivano già ordinate). In caso in cui sia "None" vuol dire che la tabella non è selezionata
-->

    <button type="button" class="btn btn-primary" onclick="saveTableSettings()">Salva</button>





<div id="settings_block_user_tables" class="drag-elements-container" style="height: 95%; overflow: scroll">
    {% for index, value in workspaces.items %}
         <div id="" data-workspace="{{ value.name }}" class="drag-item card card-body">
         <h5>{{ value.name }}</h5>
            {% for table in value.tables %}
                <div data-order="{{ table.order }}" data-tableid="{{ table.id }}" class="drag-item2">
                    {% if table.order != null %}
                        <input class="form-check-input mt-0 checkbox" type="checkbox" checked value="" aria-label="Checkbox for following text input">
                    {% else %}
                        <input class="form-check-input mt-0 checkbox" type="checkbox" value="" aria-label="Checkbox for following text input">
                    {% endif %}
                    <p class="drag-item2-tableid">{{ table.id }}</p>
                    <button class="btn btn-secondary" onclick="$('#table_settings_menu').css('display', 'block'); $('#table_settings_menu').attr('data-tableid', '{{ table.id }}'); $('#settings_col4').css('display', 'none'); $('#user_username').attr('data-tableid', '{{ table.id }}')">Impostazioni</button>
                </div>
            {% endfor %}
         </div>
    {% endfor %}
</div>








