<script>

     function save_record(el) {
        let necessaryFields = document.querySelectorAll('.necessary');
        let hasNecessaryFields = false;

        necessaryFields.forEach(function (field) {
            if (field.value === null || field.value === "" || field.value === "None") {
                hasNecessaryFields = true;
            }
        });

        if (hasNecessaryFields === true) {
            swal({
                title: "Attenzione",
                text: "Compilare tutti i campi obbligatori",
                icon: "error",
                button: "Ok",
                dangerMode: true
            });

        } else {


            closeNewRecordModal()
            //var serialized_array = $(el).closest('.fields_container').find("select,textarea,input").serializeArray();
            //var serialized_json = convertFormToJSON(serialized_array);
            serialized_form = serializeForm($(el).closest('#universal-container-timesheet').find('.fields_container').find("select,textarea,input"));
            serialized_json = convertFormToJSON(serialized_form);
            var post_data = [];
            post_data.push({name: 'tableid', value: '{{ tableid }}'});
            post_data.push({name: 'recordid', value: '{{ recordid }}'});
            post_data.push({name: 'fields', value: serialized_json});
            contextfunction = '{{contextfunction}}'
            post_data.push({name: 'contextfunction', value: contextfunction});

            $.ajax({
                type: "POST",
                url: "{% url 'save_record_fields' %}",
                data: post_data,
                success: function (response) {
                    master_tableid = '{{ master_tableid }}';
                    if ((contextfunction == 'insert') && (master_tableid == 'None')) {
                        refresh();
                    } else {
                        load_linked('{{ tableid }}-{{ master_recordid }}', '{{ tableid }}', '{{ master_recordid }}', '{{ master_tableid }}')
                    }
                    setTimeout(function () {
                        if ('{{ tableid }}' == 'ticketbixdata') {
                            alert('Grazie per la segnalazione. La tua segnalazione verrà presa in considerazione al piu presto, nel duemilacredici');
                        }
                        var recordid = $(el).attr('data-recordid');

                        $('#fields_container_' + '{{ tableid }}' + '_' + '{{ recordid }}').load('/loading/');
                        open_record(window.content, '{{ tableid }}', '{{ recordid }}')
                        swal({
                            title: "Salvato!",
                            text: "Il record è stato salvato",
                            icon: "success",
                            timer: 800,
                            buttons: false,
                        })
                        //getContentRecords('{{ tableid }}')
                        //$("#linked-container-{{ tableid }}").load('/loading/')

                        //alert('test')


                    });

                },
                error: function () {
                    alert('ko')
                }
            });
        }
    }


    function addNewRow() {
        // Get reference to the table body
        var tableBody = document.querySelector('#myTable-{{ timesheet }} tbody');

        // Create a new row
        var newRow = document.createElement('tr');
        //add a remove button
        var remove = document.createElement('i');
        remove.setAttribute('class', 'mdi mdi-close');
        remove.setAttribute('onclick', 'removeRow(this)');
        newRow.appendChild(remove);


        // Create three columns for the new row
        var column1 = document.createElement('td');
        var column1Input = document.createElement('input');
        column1Input.setAttribute('type', 'text');
        column1Input.setAttribute('class', 'form-control');
        column1Input.setAttribute('placeholder', 'Descrizione');
        column1.appendChild(column1Input);

        var column2 = document.createElement('td');
        var column2Input = document.createElement('input');
        column2Input.setAttribute('type', 'number');
        column2Input.setAttribute('class', 'form-control');
        column2Input.setAttribute('placeholder', 'Quantità prevista');
        column2.appendChild(column2Input);

        var column3 = document.createElement('td');
        var column3Input = document.createElement('input');
        column3Input.setAttribute('type', 'number');
        column3Input.setAttribute('class', 'form-control');
        column3Input.setAttribute('placeholder', 'Quantità installata');
        column3.appendChild(column3Input);

        // Append the columns to the new row
        newRow.appendChild(column1);
        newRow.appendChild(column2);
        newRow.appendChild(column3);

        // Append the new row to the table body
        tableBody.appendChild(newRow);
    }

    function removeRow(button) {
        // Get reference to the table body
        var tableBody = document.querySelector('#myTable-{{ timesheet }} tbody');

        // Get reference to the button's parent row
        var buttonRow = button.closest('tr');

        // Remove the parent row from the table body
        tableBody.removeChild(buttonRow);
    }

    function saveRows() {
        var tableRows = document.querySelectorAll('#myTable-{{ timesheet }} tbody tr');
        var rowsArray = [];

        // Iterate through each table row
        tableRows.forEach(function (row) {
            var rowValues = [];
            var rowInputs = row.querySelectorAll('input');

            // Iterate through each input field in the row
            rowInputs.forEach(function (input) {
                rowValues.push(input.value);
            });

            // Add the row values to the array
            rowsArray.push(rowValues);
        });

        // Print the array to the console
        console.log(rowsArray);
    }
     

    function getprojectid() {
        var projectid = '00000000000000000000000000001317';
        $.ajax({
            type: "POST",
            url: "{% url 'get_project_id' %}",
            data: {projectid: projectid},
            success: function (response) {
                $.each(response, function (index, item) {
                    $.each(item, function (index, item) {

                        //alert(item.quantity)

                        // Get reference to the table body
                        var tableBody = document.querySelector('#myTable-{{ timesheet }} tbody');

                        // Create a new row
                        var newRow = document.createElement('tr');
                        //add a remove button
                        var remove = document.createElement('i');
                        remove.setAttribute('class', 'mdi mdi-close');
                        remove.setAttribute('onclick', 'removeRow(this)');
                        newRow.appendChild(remove);


                        // Create three columns for the new row
                        var column1 = document.createElement('td');
                        var column1Input = document.createElement('input');
                        column1Input.setAttribute('type', 'text');
                        column1Input.setAttribute('class', 'form-control');
                        column1Input.setAttribute('placeholder', 'Descrizione');
                        column1Input.setAttribute('value', item.name);
                        column1.appendChild(column1Input);

                        var column2 = document.createElement('td');
                        var column2Input = document.createElement('input');
                        column2Input.setAttribute('type', 'number');
                        column2Input.setAttribute('class', 'form-control');
                        column2Input.setAttribute('placeholder', 'Quantità prevista');
                        column2Input.setAttribute('value', item.quantity);
                        column2.appendChild(column2Input);

                        var column3 = document.createElement('td');
                        var column3Input = document.createElement('input');
                        column3Input.setAttribute('type', 'number');
                        column3Input.setAttribute('class', 'form-control');
                        column3Input.setAttribute('placeholder', 'Quantità installata');
                        column3.appendChild(column3Input);

                        // Append the columns to the new row
                        newRow.appendChild(column1);
                        newRow.appendChild(column2);
                        newRow.appendChild(column3);

                        // Append the new row to the table body
                        tableBody.appendChild(newRow);

                    });

                });

            },
            error: function () {
                alert('ko')
            }

        })

    }
</script>

<div id="universal-container-timesheet" style="height: 100%">

    <div id="omni-container-timesheet" style="height: 90%; overflow-y: scroll; overflow-x: hidden; margin-bottom:20px;">

        <div id="fields-scroll-container">


            <div class="container">
                <div class="row">
                    <div>
                        {{ block_record_fields }}
                    </div>
                    <!-- Icon for adding a new row -->
                    <button id="addRowButton-"{{ timesheet }} type="button" class="btn btn-secondary mdi mdi-plus"
                            style="width: auto" onclick="addNewRow(this)">

                    </button>
                    <button id="addRowButton-"{{ timesheet }} type="button" class="btn btn-secondary "
                            style="width: auto" onclick="getprojectid()">recupera materiale progetto
                    </button>
                    <!-- Bootstrap table -->
                    <table id="myTable-{{ timesheet }}" class="table">
                        <thead>
                        <tr>
                            <th>Descrizione</th>
                            <th>Quantità prevista</th>
                            <th>Quantità installata</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Existing table rows -->
                        </tbody>
                    </table>


                </div>
            </div>

            {% if contextfunction == 'view' %}
                <style>

                    #save-button-{{ recordid }} {
                        display: none;
                    }
                </style>

                <script>

                    $("#fields-scroll-container input").attr("disabled", true);
                    $("#fields-scroll-container select").attr("disabled", true);
                    $("#fields-scroll-container textarea").attr("disabled", true);
                    $("save-button-{{ recordid }}").remove();


                </script>
            {% endif %}


        </div>

    </div>

    <button id="save-button-{{ recordid }}" data-recordid="{{ recordid }}" type="button" class="btn btn-primary"
            onclick="save_record(this)">Salva
    </button>

</div>


<style>
    #myTable-{{ timesheet }} {
        width: 100%;
        table-layout: fixed;
    }

    #myTable-{{ timesheet }} thead {
        width: 100%;
        display: table;
    }

    #myTable-{{ timesheet }} tbody {
        height: 200px; /* Adjust the height as needed */
        overflow-y: scroll;
        display: block;
    }

    #myTable-{{ timesheet }} thead th,
    #myTable-{{ timesheet }} tbody td {
        padding: 8px;
        text-align: left;
    }

    #myTable-{{ timesheet }} thead th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #myTable-{{ timesheet }} tbody td {
        width: calc(100% / 3); /* Set the width based on the number of columns */
    }


</style>