{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--
<img src="{% static 'images/logos/logo_loading_default.png' %}" alt="logo" class="rounded-circle" width="100px" height="100px" style="">
-->

<br>

<div class="text-center" style="margin-bottom: 10%">
    <h1>{{ milestone.title }} </h1>
</div>

<div class="row">
    {% for task in tasks %}
        <div class="col-1" style="display: flex; justify-content: flex-end;">
            <div style="width: 5px; height: 50px; background-color: red"></div>
        </div>

        <div class="col-11">
            <div class="card">
              <div><img src="{% static 'images/users/' %}{{task.user}}.png" alt="{{task.user}}" width="32px" height="32px" class="rounded-circle"> {{task.username}}</div>
              <div class="card-body">
                <p class="card-text">{{ task.publicdescription }}</p>
                {% if task.completed == 'Si' %}
                <b style="color: green">Completato {{ task.closedate }}</b>
                {% else %}
                <b style="color: red">Non completato</b>
                {% endif %}
              </div>
            </div>
        </div>
    {% endfor %}
</div>
<div id="cards-container" class="container-fluid d-flex align-items-center" style="flex-direction: column">


</div>


<style>
    .card {
        width: 100%;
        margin-bottom: 5%;
        padding: 0.3%;
        border: 0px;
    }
</style>