 <!--JQuery UI-->
<script src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/jquery-ui/dist/themes/base/jquery-ui.min.css" rel="stylesheet">

<div class="container" id="fields_container">
{% for field_key,field in record_fields.items %}
{% with fieldname=field.fieldid %}
{% with fieldid='field-'|add:field.fieldid %}
    <div class="row">
        <div class="col-lg-2" style="text-align: left">
            <p>{{field.description }}</p>
        </div>
        <div class="col">
            {% if field.fieldtypeid == 'Parola' %}
                {% if field.lookuptableid  %}
            <div class="input-group mb-3">
              <select id="{{ fieldid }}" name="{{ fieldname }}" class="form-select">
                <option value="1">{{ field.value }}</option>
              </select>
            </div>
            {% else %}
               <label>
                    <input id="{{ fieldid }}" name="{{ fieldname }}" class="form-control" type="text" value="{{ field.value }}">
                </label>
            {% endif %}
        {% endif %}
            {% if field.fieldtypeid == 'Data' %}
                <label>
                    <input id="{{ fieldid }}" name="{{ fieldname }}" class="form-control" type="date" value="{{ field.value }}">
                </label>
            {% endif %}
            {% if field.fieldtypeid == 'Seriale' %}
            <p>{{ field.value}}</p>
            {% endif %}
            {% if field.fieldtypeid == 'Numero' %}
                <label>
                    <input id="{{ fieldid }}" name="{{ fieldname }}" class="form-control" type="number" value="{{ field.value }}">
                </label>
            {% endif %}
            {% if field.fieldtypeid == 'Memo' %}
                <textarea class="form-control" id="{{ fieldid }}" name="{{ fieldname }}" rows="3">{{ field.value }}</textarea>
            {% endif %}
            {% if field.fieldtypeid == 'Ora' %}
                <label>
                    <input id="{{ fieldid }}" name="{{ fieldname }}" class="form-control" type="time" value="{{ field.value }}">
                </label>
            {% endif %}
            {% if field.fieldtypeid == 'Utente' %}
            <div class="input-group mb-3">
              <select id="{{ fieldid }}" name="{{ fieldname }}" class="form-select">
                <option value="1">{{ field.value }}</option>
                <option value="2">Option 2</option>
              </select>
            </div>
            {% endif %}
            {% if field.fieldtypeid == 'linkedmaster' %}
            <div class="ui-widget">
              <label for="birds">Birds: </label>
              <input id="{{ fieldid }}">
            </div>

                <input type="hidden" id="hidden-input">

                <script>
  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
    $( "#{{ fieldid }}" ).autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'get_autocomplete_data' %}",
          data: {
             'term': request.term,
             'tableid': 'task',
             'mastertableid': 'company'
          },
          success: function(data) {
            console.info(data)
            response(data.data);
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        console.log( "Selected: " + ui.item.id );
        document.getElementById('hidden-input').value = ui.item.id;
      }
    });
  });
</script>
            {% endif %}

        </div>
    </div>
    {% endwith %}
    {% endwith %}
{% endfor %}
            <button id="save-button" type="button" class="btn btn-primary" onclick=" save_record()">Salva</button>
</div>

{% if function == "view" %}
  <script>
    $(document).ready(function(){
      $("input").attr("disabled", true);
      $("select").attr("disabled", true);
      $("textarea").attr("disabled", true);
      document.getElementById("save-button").style.display = "none";
    });
  </script>
{% else %}
  <script>
    $(document).ready(function(){
      $("input").attr("disabled", false);
      $("select").attr("disabled", false);
      $("textarea").attr("disabled", false);
    });
  </script>
{% endif %}


<style>
input:disabled, select:disabled, textarea:disabled {
  opacity: 1;
  cursor: default;
  background-color: #fff !important;
  color: #000;
}

</style>

<script>
function save_record() {

    closeNewRecordModal()
    var serialized_array = $('#fields_container').find("select,textarea,input").serializeArray();
    var serialized_json=convertFormToJSON(serialized_array);
    var post_data=[];
    post_data.push({name: 'tableid',value: '{{ tableid }}'});
    post_data.push({name: 'recordid',value: '{{ recordid }}'});
    post_data.push({name: 'fields',value: serialized_json});
    

    $.ajax({
        type: "POST",
        url: "{% url 'save_record_fields' %}",
        data: post_data,
        success: function(response) {
            document.getElementById("saved-alert").style.display = "block";
            setTimeout(function() {
                $("#saved-alert").fadeOut(1500);
                getContentRecords('{{ tableid }}')
            });

        },
        error: function() {
            alert('ko')
        }
    });

}


</script>


<style>
    ul.ui-autocomplete {
    z-index: 11000;
}
</style>














