<style>
    #card-menu .btn {
        float: right;
        margin-left: 5px;
    }
</style>

<script type="text/javascript">
    $("#RecordCard").ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {
        setTimeout(function () {
            if ($('#field-validated').val() !== 'Si') {
                $('#validate-button').show();
            }
        }, 250);
    });


    function closeModal() {
        $("#recordModal").modal("hide");
    }

    //appena la card carica aprire collegati di default
    var recordtab_{{recordid}} = '{{recordtab}}';
    $('#block_record_card-{{recordid}}').ready(function () {
        if (recordtab_{{recordid}} === 'linked') {
            $('#linked-tab-{{ recordid }}').click();
        } else {
            $('#fields-tab-{{ recordid }}').click();
        }
    });


    function caricaRis(el) {
        $(el)
        var serialized_data = [];
        //$("#bixdata_recordcard_container").load('Loading.php');
        /*
         $.ajax({
             type: "POST",
             url: controller_url + 'ajax_get_recordcard',
             data: serialized_data,
             success: function(response) {
                 //$("#bixdata_recordcard_container").html(response);
                 $("#bixdata_recordcard_container").html('test');
             },
             error: function() {
                 $("#bixdata_recordcard_container").html(response);
             }
         });*/
    }

    if (screen.width <= min_width) {
        if ($("html").attr("data-sidenav-size") == "condensed") {
            $(".tabs-title").css("display", "none");
            $(".tabs-icon").css("display", "block");
        }
    } else {
        $(".tabs-title").css("display", "block");
        $(".tabs-icon").css("display", "none");
    }

    function copyFunc(el, tableid, recordid) {

        $(el).find('.mdi').removeClass('mdi-content-copy')
        $(el).find('.mdi').addClass('mdi-checkbox-multiple-marked-outline')

        setTimeout(function () {
            $(el).find('.mdi').removeClass('mdi-checkbox-multiple-marked-outline')
            $(el).find('.mdi').addClass('mdi-content-copy')
        }, 1500);

        var url = window.location.href;
        var urlParts = url.split('/');
        var baseUrl = urlParts[0] + '//' + urlParts[2] + '/';
        var link = baseUrl + 'get_record_path/' + tableid + '/' + recordid;

        $.ajax({
            type: "POST",
            url: "{% url 'record_card_copy' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                link: link
            },
        });
    }

    function duplicateFunc() {
        var serialized_data = [];
        $.ajax({
            type: "POST",
            url: "{% url 'record_card_duplicate' %}",
            data: serialized_data,
            success: function (response) {
                alert('duplicate')
            },
            error: function (response) {
                alert('duplicate')
            }
        });
    }


    function deleteFunc() {
        swal({
            text: "Se sicuro di voler eliminare questo record?",
            buttons: ["No", "Si"],
            icon: "warning",
            dangerMode: true,
        }).then(function (value) {
            if (value) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'record_card_delete' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'tableid': '{{ tableid }}',
                        'recordid': '{{ recordid }}',
                    },
                    success: function (response) {
                        //$("#bixdata_recordcard_container").html(response);
                        swal({
                            text: "Record eliminato",
                            icon: "success",
                            timer: 1000,
                            buttons: false,
                        });
                        reloadFunc();
                    },
                    error: function () {
                        // Handle error if needed
                    }
                });
            } else {
            }
        });
    }

    function backdropHide() {
        if ($('.modal-backdrop').attr('style') === 'hide') {
            $('.modal-backdrop').fadeIn(500);
        } else {
            $('.modal-backdrop').fadeOut(500);
        }
    }

    function get_timesheet_serviceassets(el) {
        var serialized_data = [];
        $('#modalMedium').modal('show');
        $.ajax({
            type: "POST",
            url: "{% url 'get_timesheet_serviceassets' %}",
            data: serialized_data,
            success: function (response) {
                $("#modalMedium-body").html(response);
            },
            error: function () {
                alert('pin')
            }
        });
    }

    /*
        function stampa(tableid) {
            var serialized_data = [];
            var filename = tableid + new Date().getTime() + '.dockx';
            var url = '/stampa_' + tableid + '/';

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    'recordid': '{{ recordid }}',
                'filename': filename,
            },
            xhrFields: {
                responseType: 'blob' // Set the response type to 'blob'
            },
            success: function (response, status, xhr) {
                // Check if the request was successful
                if (xhr.status === 200) {
                    // Create a URL for the response blob
                    const url = URL.createObjectURL(response);

                    // Open the URL in a new tab
                    window.open(url, '_blank');
                } else {
                    // Handle the error case
                    console.error('Request failed with status:', xhr.status);
                }
            },
            error: function (xhr, status, error) {
                // Handle the error case
                console.error('Error:', error);
            }
        });
    }
*/

    function stampa(tableid) {
        var filename = tableid + new Date().getTime() + '.pdf';
        var url = '/stampa_servicecontract/';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                'recordid': '{{ recordid }}',
                'filename': filename,
            },
            success: function (response) {
                window.open('/static/pdf/' + filename, '_blank');
            },
            error: function (response) {
                alert('stampa')
            }
        });
    }


    function rinnova_contratto() {
        $('#close-button').click()
        swal({
            text: "Inserisci totale ore contrattuali",
            content: "input",
            button: {
                text: "Rinnova",
                closeModal: false,
            },
        }).then((response) => {
            // Validate numeric input
            var contract_hours = parseFloat(response);
            if (isNaN(contract_hours)) {
                swal({
                    text: "Inserisci un valore numerico per le ore contrattuali.",
                    icon: "error",
                });
                return;
            }

            swal({
                text: "Inserisci numero fattura",
                content: "input",
                button: {
                    text: "Rinnova",
                    closeModal: false,
                },
            }).then((response) => {
                // Validate numeric input
                var invoicenr = response;
                if (invoicenr === '') {
                    swal({
                        text: "Inserisci un numero fattura.",
                        icon: "error",
                    });
                    return; // Stop further execution
                }

                $.ajax({
                    type: "POST",
                    url: "{% url 'rinnova_contratto' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'contract_hours': contract_hours,
                        'invoicenr': invoicenr,
                        'recordid': '{{ recordid }}',
                    },
                    success: function (response) {
                        $('#block_record_card-{{ recordid }}').slideToggle(200, function () {
                        });
                        refresh();
                        swal({
                            text: "Contratto rinnovato",
                            icon: "success",
                            timer: 1000,
                            buttons: false,
                        });
                    },
                    error: function (response) {
                        alert('Ko')
                    }
                });
            });
        });
    }


    function validate_timesheet() {
        $.ajax({
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'recordid': '{{ recordid }}'
            },
            url: "{% url 'validate_timesheet' %}",
            success: function (response) {
                $('#fields_container_' + '{{ tableid }}' + '_' + '{{ recordid }}').load('/loading/');
                open_record(window.content, '{{ tableid }}', '{{ recordid }}')
                swal({
                    text: "Timesheet validated",
                    icon: "success",
                    timer: 1000,
                    buttons: false,
                });
            },
            error: function (xhr, status, error) {
                alert('An error occurred while validating the timesheet.');
            }
        });
    }

    function open_freshdesk() {
        var url = 'https://swissbix.freshdesk.com/a/tickets/' + '{{ freshdeskid }}';
        window.open(url, '_blank');
    }

    function openModalFromCard() {

        $('#block_record_card-{{ recordid }}').remove()


        var serialized_data = [];
        serialized_data.push({name: 'tableid', value: '{{ tableid }}'});
        serialized_data.push({name: 'recordid', value: '{{ recordid }}'});
        serialized_data.push({name: 'contextfunction', value: 'edit'});

        $.ajax({
            type: "POST",
            url: "{% url 'block_record_card' %}",
            data: serialized_data,
            success: function (response) {
                $('#recordModal').modal('show');
                $("#record-modal-content").html(response);
            }
        });
    }

    function stampaWord() {
        serialized_form = serializeForm($('.save-button').closest('#universal-container-timesheet').find('.fields_container').find("select,textarea,input"));
        //set the value of creator in serialized_form
        serialized_form['creator'] = '{{ userid}}';
        serialized_json = convertFormToJSON(serialized_form);
        var post_data = [];
        post_data.push({name: 'tableid', value: '{{ tableid }}'});
        post_data.push({name: 'recordid', value: '{{ recordid }}'});
        post_data.push({name: 'fields', value: serialized_json});
        contextfunction = '{{contextfunction}}'
        post_data.push({name: 'contextfunction', value: contextfunction});

        $.ajax({
            type: "POST",
            url: "{% url 'print_word' %}",
            data: {
              recordid : '{{ recordid }}',
            },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (response, status, xhr) {
                const contentType = xhr.getResponseHeader('content-type');
                const blob = new Blob([response], { type: contentType });

                const blobUrl = window.URL.createObjectURL(blob);

                const contentDisposition = xhr.getResponseHeader('content-disposition');
                const filename = contentDisposition.split(';')[1].trim().split('=')[1];

                const a = document.createElement('a');
                a.href = blobUrl;
                a.download = filename;
                document.body.appendChild(a);

                a.click();

                window.URL.revokeObjectURL(blobUrl);
                document.body.removeChild(a);
            }
        });
    }

</script>

<div id="block_record_card-{{ recordid }}" class="block_record_card" data-recordid="{{ recordid }}"
     data-tableid="{{ tableid }}" style="height: 100%;width: 100%;">
    <div id="RecordCard" class="card RecordCard" style=" height: 100%; overflow: hidden">
        <div class="card-body" style="max-height: 100%">
            <p class="card-text">

            <div id="card-menu">
                <button type="button" id="close-button" class="btn-close button-recordcard" data-bs-dismiss="modal"
                        aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="chiudi"
                        onclick="closeCard(this)"></button>
                {{ tableid }}

                <button type="button" class="btn btn-light button-recordcard" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="elimina" style="color: red" onclick="deleteFunc()"><i
                        class=" mdi mdi-delete-outline"></i></button>

                <button type="button" class="btn btn-light button-recordcard" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="copia collegamento"
                        onclick="copyFunc(this,'{{ tableid }}', '{{ recordid }}')"><i
                        class="mdi mdi-content-copy"></i></button>

                <div class="dropdown" style="margin-top: -2.6%">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Stampe
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Stampa scheda</a></li>
                        {% if tableid == 'timesheet' or tableid == 'servicecontract' %}
                            <li><a class="dropdown-item"
                                   onclick="stampa('{{ tableid }}')">
                                {% if tableid == 'timesheet' %}
                                    Stampa rapportino
                                {% elif tableid == 'servicecontract' %}
                                    Stampa report monte ore
                                {% endif %}
                            </a></li>
                        {% endif %}
                        {% if tableid == 'deal' %}
                            <li><a class="dropdown-item" onclick="stampaWord()">
                                Stampa in word
                            </a></li>
                        {% endif %}
                    </ul>
                </div>


                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Funzioni
                    </button>
                    <ul class="dropdown-menu">
                        {% if tableid == 'timesheet' %}
                            <li><a class="dropdown-item" onclick="get_timesheet_serviceassets(this)">Servizi e
                                risorse</a></li>
                        {% elif tableid == 'servicecontract' %}
                            <li><a class="dropdown-item" onclick="rinnova_contratto()">Rinnova</a></li>
                        {% elif tableid == 'ticket' %}
                            <li><a class="dropdown-item" onclick="open_freshdesk()">Apri in freshdesk</a></li>
                        {% elif tableid == 'timetracking' %}
                            <li><a class="dropdown-item" onclick="newRecord('timesheet')">Nuovo Timesheet</a></li>
                        {% endif %}
                        <!--<li><a class="dropdown-item" onclick="duplicateFunc()">Duplica</a></li>-->
                    </ul>
                </div>


                <script>
                    if ($('#block_record_card-{{ recordid }}').closest('.modal').length == 0) {
                        $('.open-popup').css('display', 'block');
                    } else {
                        $('.open-popup').css('display', 'none');
                    }
                </script>

                {% if layout_setting == 'rightcard' %}
                    <button type="button" class="open-popup btn btn-secondary button-recordcard"
                            onclick="openModalFromCard()">
                        Apri PopUp
                    </button>
                {% endif %}

                {% if tableid == 'task' %}
                    <button style="display: none" id="close-task-button-{{ recordid }}" class="btn btn-success"
                            type="button"
                            onclick="$('#input-{{ recordid }}').val('Si'); change_checkbox_view(); $('#save-button-{{ recordid }}').click()">
                        Chiudi task
                    </button>
                {% endif %}

                {% if tableid == 'timesheet' %}
                    {% if userid == 3 or userid == 9 %}
                        <button onclick="$('#field-validated').val('Si'); $('#save-button-{{ recordid }}').click()"
                                type="button" id="validate-button" style="display: none"
                                class="btn btn-outline-success">Valida
                        </button>
                    {% endif %}
                {% endif %}

                <div style="clear:both;"></div>
            </div>


            <div id="badge-container-{{ tableid }}-{{ recordid }}" class="container" style="height:10%">
                {{ block_record_badge }}
            </div>

            </br>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="fields-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#fields-tab-pane-{{ recordid }}" type="button" role="tab"
                            aria-controls="fields-tab-pane-{{ recordid }}"
                            aria-selected="true" onclick="load_fields(this, '{{ tableid }}', '{{ recordid }}')">

                        <p class="tabs-title">Campi</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="fields">
                            text_fields
                        </span>

                    </button>
                    <button class="nav-link" id="linked-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#linked-tab-pane-{{ recordid }}"
                            type="button" role="tab" aria-controls="linked-tab-pane-{{ recordid }}"
                            aria-selected="false">

                        <p class="tabs-title">Collegati</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="linked">
                            link
                        </span>

                    </button>
                    <!--
                    <button class="nav-link" id="attachment-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#attachment-tab-pane-{{ recordid }}" type="button" role="tab"
                            aria-controls="attachment-tab-pane-{{ recordid }}" aria-selected="false">

                        <p class="tabs-title">Allegati</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="attachment">
                            attachment
                        </span>
                    </button>
                    <button class="nav-link" id="statistics-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#statistics-tab-pane-{{ recordid }}" type="button" role="tab"
                            aria-controls="statistics-tab-pane-{{ recordid }}" aria-selected="false">

                        <p class="tabs-title">Analitica</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="analytics">
                            analytics
                        </span>
                    </button>
                    <button class="nav-link" id="history-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#history-tab-pane-{{ recordid }}"
                            type="button" role="tab" aria-controls="history-tab-pane-{{ recordid }}"
                            aria-selected="false">

                        <p class="tabs-title">Storico</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="history">
                            history
                        </span>
                    </button>
                    </button>
                    <button class="nav-link" id="workflow-tab-{{ recordid }}" data-bs-toggle="tab"
                            data-bs-target="#workflow-tab-pane-{{ recordid }}"
                            type="button" role="tab" aria-controls="workflow-tab-pane-{{ recordid }}"
                            aria-selected="false">

                        <p class="tabs-title">Flusso di lavoro</p>
                        <span class="material-symbols-outlined tabs-icon" data-bs-toggle="tooltip"
                              data-bs-title="workflow">
                            rebase
                        </span>
                    </button>
                    -->
                </div>
            </nav>

            <div class="tab-content" id="tableTabContent" style="height: 80%">
                <div class="tab-pane tab-pane-fields fade show active" id="fields-tab-pane-{{ recordid }}"
                     role="tabpanel"
                     aria-labelledby="fields-tab" tabindex="0" style="height: 100%">
                    {{ block_record_fields }}
                </div>

                <div class="tab-pane fade" id="linked-tab-pane-{{ recordid }}" role="tabpanel"
                     aria-labelledby="linked-tab"
                     tabindex="0" style="height: 100%; overflow:scroll">
                    {{ block_record_linked }}
                </div>

                <div class="tab-pane fade" id="attachment-tab-pane-{{ recordid }}" role="tabpanel"
                     aria-labelledby="attachment-tab"
                     tabindex="0">...
                </div>
                <div class="tab-pane fade" id="statistics-tab-pane-{{ recordid }}" role="tabpanel"
                     aria-labelledby="statistics-tab"
                     tabindex="0">...
                </div>
                <div class="tab-pane fade" id="history-tab-pane-{{ recordid }}" role="tabpanel"
                     aria-labelledby="history-tab"
                     tabindex="0">...
                </div>
                <div class="tab-pane fade" id="workflow-tab-pane-{{ recordid }}" role="tabpanel"
                     aria-labelledby="workflow-tab"
                     tabindex="0">...
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width: 1500px) {
        #tableTabContent {
            height: 60% !important;
        }
    }

      @media screen and (min-width: 1500px) and (max-width: 2000px) {
        #tableTabContent {
            height: 70% !important;
        }
    }
</style>