<script>
    function triggerCollapse(id, label) {
        var collapse = document.getElementById(id);
        if (collapse.classList.contains('show')) {
            collapse.classList.remove('hide');
        } else {
            collapse.classList.add('hide');
        }
        $.ajax({
            url: {% url 'get_linked' %},
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'name': label
            },
            success: function (response) {
                console.log(response);
            }, error: function (response) {
                console.log(response);
            }
        });
    }

</script>

<div id="block_record_linked">
  {% for label in context.labels %}
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{label}}" aria-expanded="false" aria-controls="{{label}}" style="background-color: #074048; border: #074048; width: 100%; margin-top: 2%" onclick="triggerCollapse('{{label}}', '{{ label }}')">
      <span class="badge bg-danger" style="float: left; color: white; background-color: red; border-radius: 7.5%">5</span>
                <span class="material-symbols-outlined" style="float: right" onclick="$('#newRecordModal').modal('show')">add</span>
      {{label}}
    </button>
    <div class="collapse" id="{{label}}">
      <div class="card card-body">
        {{label}}
      </div>
    </div>
  {% endfor %}
</div>



